/*
Theme Name: Avo
Theme URI: https://themeforest.net/
Author: ThemesCamp
Author URI:  http://themeforest.net/user/themescamp/
Description: Avo is a Modern Creative WordPress Theme for Agency to show their works.
Version: 1.0.4 
License: GNU General Public License version 3.0
License URI: http://www.gnu.org/licenses/gpl-3.0.html
Text Domain: avo
Domain Path: /lang
Tags: one-column, two-columns, right-sidebar,custom-colors,featured-images 
*/
  
/* -----------------------------------------------------------
TABLE OF CONTENTS:-   
--------------------------------------------------------------
* Helper Section  
	- text color
	- font-weight 
	- font-size
	- line-height
	- text-transform 
	- letter-spacing
	- Overlay Effect Bg image
	- margin-top
	- margin-bottom
	- padding-top
	- padding-bottom
	- the spacing
	- social-media-colors
* General Section
	- Typography
	- To top style
	- inner page style
	- wp post style
	- Bootstrap Clearfix
	- Elementor Editor Style
* Header Section
* Slider Section
* Features Section
* Portfolio Section
* Team Section
* Testimonial Section
* Contact Section
* Footer Section
* Blog Section
	- Sidebar Section
	- comment section
* WordPress Style
* Gutenberg Style
* Responsive

------------------------------------------------------------*/

@import 'common/_variable.scss';


/* ===============================================================
			[ * Helper Section ] 
================================================================*/

@import 'common/_helper.scss';


/* ===============================================================
			[ * General section ]
================================================================*/

@import 'common/_general.scss';


/* ===============================================================
			[ * Header section ]
================================================================*/

@import 'elements/_preloader.scss';

/* ===============================================================
			[ * Button section ]
================================================================*/

@import 'elements/_button.scss';
/* ===============================================================
			[ * Header section ]
================================================================*/

@import 'elements/_header.scss';
/* ===============================================================
			[ * Top Header section ]
================================================================*/

@import 'elements/_top_header.scss';

/* ===============================================================
			[ * Nav section ]
================================================================*/

@import 'elements/_nav.scss';

/* ===============================================================
			[ * Offcanvas section ]
================================================================*/

@import 'elements/_offcanvas.scss';

/* ===============================================================
			[ * Side panel section ]
================================================================*/

@import 'elements/_side_panel.scss';
 

/* ===============================================================
			[ * Slider section ]
================================================================*/

@import 'elements/_slider_style_2.scss'; 
@import 'elements/_slider_style_3.scss'; 
@import 'elements/_slider_style_4.scss';
@import 'elements/_slider_style_5.scss';
@import 'elements/_slider.scss'; 

@import 'elements/_portfolio_single.scss';


/* ===============================================================
			[ * Showcase section ]
================================================================*/

@import 'elements/_showcase.scss';
/* ===============================================================
			[ * Features section ]
================================================================*/

@import 'elements/_feature_style_1.scss';

/* ===============================================================
			[ * Featured section ]
================================================================*/

@import 'elements/_featured.scss';

/* ===============================================================
			[ * Work Process section ]
================================================================*/

@import 'elements/_work_process.scss';  


/* ===============================================================
			[ * Portfolio section ]
================================================================*/

@import 'elements/_portfolio.scss';


/* ===============================================================
			[ * Team Section ]
================================================================*/

@import 'elements/_team.scss';

/* ===============================================================
			[ * Testimonials Section ]
================================================================*/

@import 'elements/_testimonial.scss';

/* ===============================================================
			[ * Skills Section ]
================================================================*/

@import 'elements/_skills.scss';

/* ===============================================================
			[ * Progress bar Section ]
================================================================*/

@import 'elements/_progress_bar.scss';


/* ===============================================================
			[ * Contact Section ]
================================================================*/

@import 'elements/_contact.scss';
@import 'elements/_contact _style_2.scss';


/* ===============================================================
			[ * keyframes section ]
================================================================*/

@import 'elements/_anime.scss';
/* ===============================================================
			[ * 404! section ]
================================================================*/

@import 'elements/_404.scss';


/* ===============================================================
			[ * Footer Section ]
================================================================*/

@import 'elements/_footer_style_1.scss';


/* ===============================================================
			[ * Blog section ] 
================================================================*/

@import 'elements/_blog.scss';

@import 'elements/_blog_style_1.scss';
@import 'elements/_blog_recent.scss';
@import 'elements/_post_style_3.scss';

/* ===============================================================
			[ * Sidebar section ] 
================================================================*/

@import 'elements/_sidebar.scss';

/* ===============================================================
			[ * Comments section ] 
================================================================*/

@import 'elements/_comments.scss';


/* ===============================================================
			[ * Woocommerce section ]
================================================================*/

@import 'elements/_woocommerce.scss';

/* ===============================================================
			[ * Counter section ]
================================================================*/

@import 'elements/_counter.scss';

/* ===============================================================
			[ * Countdown section ]
================================================================*/

@import 'elements/_countdown.scss';

/* ===============================================================
			[ * image section ]
================================================================*/

@import 'elements/_image_box.scss';

/* ===============================================================
			[ * image section ]
================================================================*/

@import 'elements/_image.scss';

/* ===============================================================
			[ * info section ]
================================================================*/

@import 'elements/_info_box.scss';

/* ===============================================================
			[ * client section ]
================================================================*/

@import 'elements/_client.scss';

/* ===============================================================
			[ * Post list section ]
================================================================*/

@import 'elements/_post_list.scss';
/* ===============================================================
			[ * Fancy section ]
================================================================*/

@import 'elements/_fancy.scss';

/* ===============================================================
			[ * image section ]
================================================================*/

@import 'elements/_image_comparison.scss';

/* ===============================================================
			[ * Product section ]
================================================================*/

@import 'elements/_product.scss';

/* ===============================================================
			[ * Mega Menu ]
================================================================*/

@import 'elements/_mega_menu.scss';

/* ===============================================================
			[ * Menu ]
================================================================*/

@import 'elements/_menu.scss';

/* ===============================================================
			[ * WP Defauult section ]
================================================================*/

@import 'common/_wp_default.scss';

/* ===============================================================
			[ * Responsive section  ]
================================================================*/

@import 'common/_responsive.scss';

/* ===============================================================
			[   The End   ]
================================================================*/

