/*----404 style--*/
.error-title {

	border: 15px double #75dab4;
	display: inline-block;
	font-size: 200px;
	font-weight: 600;
	margin-bottom: 40px;
	padding: 10px 60px;
	text-transform: uppercase;
	font-family: 'Roboto';
	color: #333;

}
.error-text {

	font-size: 20px;
	font-family: 'Roboto';
	color:#333;

}