.blog-post-list.blog-style-1 {
	.blog-col-inner{
		border: none;
		&:hover{
		     .blog-link-img img {
	            opacity: 1;
	            transform: scale(1.1, 1.1) rotate(2deg);
	            cursor: crosshair;
	        }

		}

	    .blog-link-img {
	        .bl-icon {
	            border-radius: 100px;
	            position: absolute;
	            right: 20px;
	            top: 20px;
	            z-index: 3;
	            color: $color-white;
	            background: #75dab4;
	            height: 50px;
	            width: 50px;
	            line-height: 50px;
	            text-align: center;
	            font-size: 18px;
	        }

	        .cat-post {
	            position: absolute;
	            background-color: $color-white;
	            padding: 8px 16px;
	            top: 5px;
	            left: 5px;
	            letter-spacing: .5px;
	            font-size: 12px;
	            line-height: 1em;
                border-radius: 25px;
	            transition: all 1s ease-out;
			    -webkit-transition: all 1s ease-out;
			    -moz-transition: all 1s ease-out;
			    -ms-transition: all 1s ease-out;
			    -o-transition: all 1s ease-out;
			    &:hover{
			    	opacity: 1;
			    };
	        }

	        img {
	            width: 100%;
	            transition: all .5s ease-out;
	        }

	        position: relative;
	        display: block;
	        background: #75dab4;
	        overflow: hidden;
	        opacity: 1;
	    }
	    .excerpt-box{
    	    padding: 20px 0;

		    h3 {
		        font-size: 24px;
		        letter-spacing: initial;
		        font-weight: 700;
		        -webkit-transition: ease .5s;
		        -moz-transition: ease .5s;
		        -o-transition: ease .5s;
		        -ms-transition: ease .5s;
		        transition: ease .5s;
		        margin-top: 10px;
		        margin-bottom: 0;
		    }

		    a {
		        &:hover {
		            h3 {
		                color: $primary-color;
		            }
		        }
		    }

		    .col-md-4 {
		        &:nth-child(4) {
		            clear: left;
		        }
		    }

		    .col-md-3 {
		        &:nth-child(5) {
		            clear: left;
		        }
		    }

		    .avo-blog-box {
		        h3 {
		            color: $color-white;
		            margin: 0;
		            font-size: 22px;
		            color: $color-white;
		        }
		    }
		    .excerpt{
		    	margin-top: 1.2em;
		    	margin-bottom: 1.2em;
		    	display: inline-block;
		    }
		    .content-btn{
		    	color:$color_9;
		    	border: none;
		    	border-bottom: 1px solid $color_9;
		    	padding: 0;
		    	transition: 0.5s ease;
		    	-webkit-transition: 0.5s ease;
		    	&:hover{
		    		background: $no_color;
		    		color:$primary-color;
		    		border-color: $primary-color;
		    		webkit-transform: translateX(5px);
					transform: translateX(5px);
		    	}

		    }

		    .post-meta {
		        list-style: none;
		        padding: 0;
		        line-height: 1.9em;
		        margin-top: 1em;
		        margin-bottom: 0;
		        text-transform: uppercase;
		        font-size: 12px;
		        letter-spacing: .1em;
		        display: inline-block;

		        a {
		            &:hover {
		                color: $color-black;
		            }

		            color: $primary-color;
		            text-transform: uppercase;
		        }

		        li {
		            list-style: none;
		            display: inline-block;
		            margin-right: 18px;
		            color: $primary-color;
		            text-transform: uppercase;
		            line-height: 150%;

		            .fa {
		                display: inline-block;
		                margin-right: 3px;
		            }
		        }
		    }
		}
	}
}