.recent-posts-widget{
	float: left;
	margin-bottom: 12px;
    padding-bottom: 10px;
    &:last-child{
		margin-bottom: -5px;
    	padding-bottom: 0px;
    }
	.recent-post-img{
		float: left;
		img{
		    max-width: 75px;
		    margin-right: 10px;
		    height: 75px;
    		object-fit: cover;
		}
	}
	h3{
		display: initial;
		padding-top: 5px;
		font-size: 14px;
		line-height: 1.5em;
		transition: 100ms linear all;
		&:after{
			display: none;
		}


	}
	span{
		display: block;
		font-size: 12px;
	    padding-top: 5px;
	}
}

.sidebar{
	.widget_featured_posts_block>div:last-child{


	}
	.widgettitle {
	    display: block;
	    line-height: 1;
	    letter-spacing: 0;
	    margin: 0;
	    position: relative;
	    padding-bottom: 15px;
	    font-size: 17px;
	    text-transform: uppercase;
	    border-bottom: 1px solid rgba(0,0,0,.1)
	}
	.recent-posts-widget{
		&:not(:last-child){
			border-bottom-width: 1px;
		    border-bottom-style: solid;
		    border-bottom-color: #e8e8e8;
	        margin-bottom: 15px;
	    	padding-bottom: 15px;
	    	display: -ms-flexbox;
		    display: flex;
		    -ms-flex-direction: row;
		    flex-direction: row;
		    -ms-flex-align: stretch;
		    align-items: stretch;
		}
		.widget-post-thumbnail{
			.recent-post-img{
				margin-right: 10px;
				overflow: hidden;
			    -webkit-box-flex: 0;
			    -ms-flex: 0 0 auto;
			    flex: 0 0 auto;
			    margin-right: 15px;
				img{
				    max-width: 75px;
				    margin-right: 0;
				    height: 75px;
	   				object-fit: cover;
				}
			}
		}
		.widget-post-content{
			-webkit-box-flex: 1;
		    -ms-flex: 1 1 auto;
		    flex: 1 1 auto;
			h3{
				display: block;
				font-weight: 400;
				font-size: 13px;
				line-height: 1.4em;
				transition: 100ms linear all;
			    margin-top: 0px;
		   		 margin-bottom: 4px;
		   		 padding-top: 0;
				a{
					color:$color-black;
				}
				&:after{
					display: none;
				}
			}
			span{
				font-size: 12px;
				padding-top: 0;
			}
		}


	}

	#gallery-1 img{
		    border: 4px solid #f9f9f9 !important;
	}
}