

/*----------Feature Style 1----------*/


.avo-featured.style-2 {
	.items{
        text-align: center;
		h6 {
            margin-top: 25px;
            font-size: 17px;
            font-weight: 400;
            font-family: "Barlow Condensed", sans-serif;
            text-align: center;
            text-transform: uppercase;
            letter-spacing: 3px;
            color:#fff;
        }
		.item-img {
            position: relative;
            overflow: hidden;
			&:hover{
				.tlinks {
	            	opacity: 1;
				    a{
	            	    -webkit-transform: none;
					    -ms-transform: none;
					    transform: none;
				    }
	        	}
			}
			.tlinks{ 
	            position: absolute;
	            top: 0;
	            left: 0;
	            width: 100%;
	            height: 100%;
	            transition: all .4s;
	            background: rgba(0, 0, 0, .5);
	            opacity: 0;
	            padding: 0 40px;

				a {
		            padding: 14px 20px;
		            border-radius: 5px;
		            background: #32363e;
		            color: #fff;
		            font-size: 14px;
		            font-weight: 500;
		            margin: 5px 0;
		            -webkit-transform: translateY(20%);
					-ms-transform: translateY(20%);
					transform: translateY(20%);
					-webkit-transition: all cubic-bezier(.4,0,.2,1) .4s;
	  				-o-transition: all cubic-bezier(.4,0,.2,1) .4s;
	    			transition: all cubic-bezier(.4,0,.2,1) .4s;
		        }
				a:last-of-type {
		        background: $primary-color;
		        color: #181b21;
		    	}
			}
		    .new{
	            padding: 10px 30px;
	            background: $primary-color;
	            position: absolute;
	            top: 0;
	            left: -60px;
	            width: 200px;
	            transform: rotate(-30deg);
	            font-size: 13px;
	        }
		}
	}
	
}
/*----------Feature Style 3----------*/


.avo-featured.style-3 {
	.row{
		display: -webkit-box;
    	display: -ms-flexbox;
    	display: flex;
	}
	.min-area {
		background: #11141b;

		.img{
			padding: 120px 0 120px 80px;
			position: relative;
			z-index: 3;

			&:after{
				content: '';
				position: absolute;
				top: 0;
				right: 120px;
				bottom: 0;
				left: -300px;
				background: #1a1e25;
				z-index: -1;
			}
		}

		.content{
			padding-left: 40px;

			h4{
				font-weight: 700;
				font-size: 40px;
				line-height: 1.5;
				margin-bottom: 20px;
				color: #fff;
			}
			p{
				color:#c8c8c8;
			}

			ul{
				margin: 0;

				li{
					margin-top: 25px;
					padding-left: 25px;
					position: relative;
				    list-style: none;

					&:after{
						content: '';
						width: 10px;
						height: 10px;
						border: 1px solid #999;
						border-radius: 50%;
						position: absolute;
						left: 0;
						top: 2px;
					}
				}

				&.feat{

					li{
						padding: 0 0 30px 0;
						border-bottom: 1px solid rgba(255,255,255,.05);

						&:last-of-type{
							padding: 0;
							border: 0;
						}

						&:after{
							display: none;
						}

						h6{
							font-weight: 500;
							margin-bottom: 5px;
							color: #fff;
						    font-size: 18px;
							
							span{
								color: $primary-color;
								width: 30px;
								height: 30px;
								line-height: 30px;
								text-align: center;
								font-size: 13px;
								border: 1px solid $primary-color;
								border-radius: 50%;
								margin-right: 10px;
								display: inline-block;
							}
						}

						p{
							font-size: 13px;
							padding-left: 45px;
							margin: 0;
						}
					}
				}
			}
		}
	}
}
