/*---- image Style 1 ----*/ 
.avo-image.style-1{
	position: relative;
	.toright{

		.img{
			margin-left: auto;
		}
	}

	.toleft{

		.img{
			margin-right: auto;
		}
	}
	.div-tooltip-tit {
	    display: none;
	    position: fixed;
	    background-color: #000;
	    padding: 0 10px;
	    height: 50px;
	    line-height: 50px;
	    font-size: 13px;
	    font-weight: 600;
	    text-transform: uppercase;
	    letter-spacing: 1px;
	    z-index: 99999;
	    color:#fff;
	}

	.div-tooltip-sub {
	    display: none;
	    position: fixed;
	    background-color: #fff;
	    padding: 10px;
	    color: #111;
	    font-size: 10px;
	    font-weight: 600;
	    text-transform: uppercase;
	    letter-spacing: 1px;
	    z-index: 99999;
	}
}

/*---- image Style 2 ----*/ 
.avo-image.style-2{
	.img2{
		border-radius: 10px;
    	overflow: hidden;
		img{
		    width: 100%;
		    height: 100%;
		    -o-object-fit: cover;
		    object-fit: cover;
		    -o-object-position: center center;
		    object-position: center center;
		}
	}
	.div-tooltip-tit {
	    display: none;
	    position: fixed;
	    background-color: #000;
	    padding: 0 10px;
	    height: 50px;
	    line-height: 50px;
	    font-size: 13px;
	    font-weight: 600;
	    text-transform: uppercase;
	    letter-spacing: 1px;
	    z-index: 99999;
	    color:#fff;
	}

	.div-tooltip-sub {
	    display: none;
	    position: fixed;
	    background-color: #fff;
	    padding: 10px;
	    color: #111;
	    font-size: 10px;
	    font-weight: 600;
	    text-transform: uppercase;
	    letter-spacing: 1px;
	    z-index: 99999;
	}
}


/*---- image Style 3 ----*/ 
.avo-image.style-3{

	.video-box{
		margin-top: 70px;
		position: relative;
		z-index: 2;

		&:after, &:before{
			content: '';
			position: absolute;
			width: 20%;
			height: 100%;
			top: 0;
			border-right: 1px solid #eee;
			border-left: 1px solid #eee;
			opacity: .2;
			z-index: 3;
		}

		&:after{
			left: 20%;
		}

		&:before{
			right: 20%;
		}

		.tit-text{
			position: absolute;
			top: -120px;
			width: 100%;
			text-align: center;
			z-index: -1;

			h3{
				font-size: 100px;
				font-weight: 700;
				text-transform: uppercase;
				color: transparent;
				
			}
		}

		.vid{
			width: 140px;
			height: 140px;
			line-height: 140px;
			text-align: center;
			font-size: 20px;
			border-radius: 50%;
			background: rgba(255,255,255,.15);
			border: 1px solid #fff;
			position: absolute;
			top: calc(50% - 70px);
			left: calc(50% - 70px);
			z-index: 4;
			.icon{
				color:#fff;
			}
		}

		.img{
			box-shadow: 0px 10px 30px -5px rgba(52, 60, 70, 0.5);
			border-radius: 5px;
			overflow: hidden;
			&:after{
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background: #11141b;
				opacity: .4;
			}
		}
	}
}

// Light Mode
.avo-image.style-3{
	.video-box .tit-text h3{
		-webkit-text-stroke: 1px rgba(0,0,0,.1);
	}

} 

// Dark Mode 
body.avo-dark-mode .avo-image.style-3{
	.video-box .tit-text h3{
		-webkit-text-stroke: 1px rgba(255,255,255,.1);
	}
} 

// Auto Mode
@media (prefers-color-scheme: dark) {

	body.avo-auto-mode .avo-image.style-3{
		.video-box .tit-text h3{
			-webkit-text-stroke: 1px rgba(255,255,255,.1);
		}
	}
}

