
/*---- info box / Style 05 ----*/

.info-box.style-5{

	position: relative;

	.container{
		position: relative;
		z-index: 2;
	}

	.item-box{
		padding: 80px 30px;
		text-align: center;

		&.bg-img{
			position: relative;
			text-align: left;
			z-index: 2;

			&:after{
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-color: #1a1e25;
				opacity: .8;
				z-index: -1;
			}
		}

		.icon{
			color: $primary-color;
			font-size: 40px;
			margin-bottom: 30px;
		}

		h6{
			font-size: 18px;
			line-height: 1.8;
			text-transform: capitalize;
			margin: 0;
			margin-bottom: 10px;
			font-weight: 600;
		}
		p{
			font-size: 15px;
			font-weight: 300;
			line-height: 2;
			margin: 0;
		}
	}

	.rone{

		> div{
			position: relative;

			&:nth-of-type(2){
				margin-bottom: -50px;
				margin-top: auto;
			}
		}
	}

	.rtwo{

		> div{
			position: relative;

			&:nth-of-type(2){
				margin-bottom: -50px;
				margin-top: auto;
			}
		}
	}
	
	.mas-item{
		padding: 40px;
		margin: 50px 0;
		background: #11141b;
		position: relative;
		z-index: 2;

		&:after{
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: #11141b;
			transition: all .4s;
			z-index: -1;
		}

		.bg-color{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: $primary-color;
			transition: all .4s;
			z-index: -2;
		}

		&:hover{

			.bg-color{
				top: 10px;
				left: 10px;
			}
		}

		.icon{
			font-size: 45px;
			color: $primary-color;
			margin-bottom: 30px;
		}

		h6{
			font-weight: 600;
			font-size: 16px;
			line-height: 1.7;
		}

		.more{
			margin-top: 20px;
			width: 100%;
			width: 45px;
			height: 45px;
			line-height: 45px;
			text-align: center;
			font-size: 12px;
			border-radius: 50%;
			border: 2px solid rgba(255,255,255,.05);
		}
	}

	.step-item{
		text-align: center;
		padding: 60px;
		margin: 60px auto;
		background: #151921;
		position: relative;

		&.xbottom{
			bottom: -60px;
		}

		&.xtop{
			top: -60px;
		}

		&.xcolor{
			background: $primary-color;
			color: #11141b;

			.icon{
				color: #11141b !important;
			}

			p{
				color: #333;
			}
		}

		.icon{
			color: $primary-color;
			font-size: 40px;
			margin-bottom: 30px;
		}

		h6{
			margin-bottom: 20px;
		}
	}

	.item{
		text-align: center;
		padding: 60px;
		background: #151921;
		position: relative;

		.icon{
			color: $primary-color;
			font-size: 40px;
			margin-bottom: 40px;
		}

		h6{
			margin-bottom: 15px;
		}
	}
}
// Light Mode
.info-box.style-5{
	h6{
		color: #000;
	}
	p{
		color: #777;
	}
	&.mode-cl1{
		background: #f9fbfd;
	}
	&.mode-cl2{
		background: #f2f3f5;
	}
	&.mode-cl3{
		background: #f9fbfd;
	}
} 

// Dark Mode 
body.avo-dark-mode .info-box.style-5{
	h6{
		color:#fff;
	}
	p{
		color:#c8c8c8;
	}
	&.mode-cl1{
		background: #181b21;
	}
	&.mode-cl2{
		background: #1a1e25;
	}
	&.mode-cl3{
		background: #20242c;
	}
} 

// Auto Mode
@media (prefers-color-scheme: dark) {

	body.avo-auto-mode .info-box.style-5{
		h6{
			color:#fff;
		}
		p{
			color:#c8c8c8;
		}
		&.mode-cl1{
			background: #181b21;
		}
		&.mode-cl2{
			background: #1a1e25;
		}
		&.mode-cl3{
			background: #20242c;
		}
	}
}

/*---- info box / Style 06 ----*/
.info-box.style-6{
    width: 100%;
    padding: 35px 25px;
    text-align: center;
    border-radius: 5px;
    position: relative;

    &.space{
        margin: 0 10px;
    }

    .icon{
        color: $primary-color;
        font-size: 30px;
        margin-bottom: 20px;
    }

    h6{
        font-size: 16px;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 2px;
        line-height: 1.4;
    	margin: 0;
    }

    .dots{

        span{
            width: 4px;
            height: 4px;
            border-radius: 50%;
            background: #eee;
            position: absolute;
            right: 10px;
            bottom: 12px;
            opacity: .1;
    
            &:first-of-type{
                bottom: 18px;
            }
    
            &:last-of-type{
                right: 16px;
            }
        }
    }
}

// Light Mode
.info-box.style-6{
	background: #f7f7f7;
	h6{
		color: #000;
	}
	&.mode-cl1{
		background: #f9fbfd;
	}
	&.mode-cl2{
		background: #f2f3f5;
	}
	&.mode-cl3{
		background: #f9fbfd;
	}
} 

// Dark Mode 
body.avo-dark-mode .info-box.style-6{
	background: #11141b;
	h6{
		color:#fff;
	}
	&.mode-cl1{
		background: #181b21;
	}
	&.mode-cl2{
		background: #1a1e25;
	}
	&.mode-cl3{
		background: #20242c;
	}
} 

// Auto Mode
@media (prefers-color-scheme: dark) {

	body.avo-auto-mode .info-box.style-6{
		background: #11141b;
		h6{
			color:#fff;
		}
		&.mode-cl1{
			background: #181b21;
		}
		&.mode-cl2{
			background: #1a1e25;
		}
		&.mode-cl3{
			background: #20242c;
		}
	}
}


/*---- info box / Style 07 ----*/
.info-box.style-7{
 	.mas-item{
		padding: 40px;
		position: relative;
		z-index: 2;

		&:after{
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			transition: all .4s;
			z-index: -1;
		}

		.bg-color{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: $primary-color;
			transition: all .4s;
			z-index: -2;
		}

		&:hover{

			.bg-color{
				top: 10px;
				left: 10px;
			}
		}

		.icon{
			font-size: 45px;
			color: $primary-color;
			margin-bottom: 30px;
		}
		img{

			margin-bottom: 30px;
		}

		h6{
			font-weight: 600;
			font-size: 16px;
			line-height: 1.7;
			
		}

		.more{
			margin-top: 20px;
			width: 100%;
			width: 45px;
			height: 45px;
			line-height: 41px;
			text-align: center;
			font-size: 12px;
			border-radius: 50%;
			display: inline-block;
		}
	}

}
//Light Mode//
.info-box.style-7{
	.mas-item{
		background: #f7f7f7;
		h6{
			color: #000 ;
		}
		&:after{
			background: #f7f7f7;
		}
		.more{
		    border: 2px solid rgba(0, 0, 0, 0.05);
		}
	}
} 
//Dark Mode//
body.avo-dark-mode .info-box.style-7{
	.mas-item{
		background: #11141b;
		h6{
			color: #fff;
		}
		&:after{
			background: #11141b;
		}
		.more{
		    border: 2px solid rgba(255,255,255,.05);
		}
	}
} 
//Auto Mode//
@media (prefers-color-scheme: dark) {

	body.avo-auto-mode .info-box.style-7{
		.mas-item{
			background: #11141b;
			h6{
				color: #fff;
			}
			&:after{
				background: #11141b;
			}
			.more{
			    border: 2px solid rgba(255,255,255,.05);
			}
		}
	}
}



//-----------------------
.tcf-info-box.style-8{
	.item-box{ 
		padding: 79px 30px;
		text-align: center;

		&.bg-img{
			position: relative;
			text-align: left;
			z-index: 2;

			&:after{
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background: #1a1e25;
				opacity: .8;
				z-index: -1;
			}

			h4{
				color: #fff;
			    font-size: 30px;
			}
		}

		.icon{
			color: $primary-color;
			font-size: 40px;
			margin-bottom: 30px;
		}

		h6{
			line-height: 1.8;
			text-transform: capitalize;
			margin-bottom: 10px;
		}
	}
}