

.avo-custom-header .is-sticky .stuck-nav{
	background: #11141b;
}
/*----------Nav Style 1----------*/

.avo-nav.style-1{
	.navigation li a{
		color: #fff;
		text-transform: initial;
		font-size: 13px;
		font-weight: 400;
		padding-left: 22px;
    	padding-right: 22px;
	}
	.menu-wrapper ul li ul{
		background: #1a1e25;
	}
	.menu-wrapper .menu ul li a{
		text-transform: initial;
		font-weight: 400;
	}

}