.avo-product.style-2{
	.port-inner {
		.port-box{
			background: #fff;
		}
		.port-dbox {
			a span svg:hover{
				stroke:$primary_color;
			}
		}
		&:hover{
			.dbox-relative {
				h3 a{
				    color: #000;
				}
				p{
					color:#777;
				}
			}
		}
	}

}