/*----------Showcase Style----------*/
.showcase{
	.txt-botm{
		position: absolute;
		bottom: 20px;
		left: 0;
		width: 100%;
		z-index: 8;

		.swiper-nav-ctrl{
			position: absolute;
			width: auto;
			height: auto;
			margin-top: auto;
			top: auto;
			bottom: 0;
		    display: flex;
			
			i{
				color: #ccc;
				font-size: 13px;
				width: 45px;
				height: 45px;
				line-height: 45px;
				text-align: center;
				margin: 0;
				border-radius: 50%;
				display: inline-block;
				transition: all .3s;
			}

			span{
				font-weight: 500;
				font-size: 12px;
				color: #fff;
				text-align: center;
   				 line-height: 3;
			}

			&:after{
				display: none;
			}

			&.swiper-button-next{
				right: 40px;

				i{
					margin-left: 10px;
				}
			}

			&.swiper-button-prev{
				left: 40px;

				i{
					margin-right: 10px;
				}
			}

			&:hover{

				i{
					border: 1px solid rgba(255,255,255, .3);
				}
			}
		}
	}
}
/*----------Showcase Style 1----------*/
.showcase.style-1{
	.showcase-full{

	    .parallax-slider{

	        .swiper-slide{
	        	position: relative;
			    overflow: hidden;
			    width: 100%;
			    min-height: 100vh;
			    padding-bottom: 50px;
		        .bg-img{
		            background-position: center center;
	                position: absolute;
					top: 0;
					right: 0;
					bottom: 0;
					left: 0;
					background-size: cover;
		        }
   			}

	        .caption{

	            h1{
	                font-size: 9vw;
	                font-weight: 800;
	                line-height: 1.2;
	                transition: all .5s;
				    -webkit-transition: all 0s;
				    -o-transition: all 0s;
				    transition: all 0s;
				    opacity: 1;
				    visibility: visible;
				    -webkit-transform: translateY(0);
				    -ms-transform: translateY(0);
				    transform: translateY(0);
				    letter-spacing: 4px;
    				color: #fff;

	                .stroke{
	                    color: transparent;
	                    -webkit-text-stroke: 1px #fff;
	                   
	                }
	    
	                span{
	                    margin-left: 200px;
	                    color: #fff;
	                }
	            }

	            .discover{
	                margin-top: 50px;
	                opacity: 0;
	                transition: all .7s;

	                i{
	                    display: inline-block;
	                    width: 70px;
	                    height: 70px;
	                    line-height: 70px;
	                    text-align: center;
	                    border: 1px solid #fff;
	                    border-radius: 50%;
	                    margin-right: 10px;
	                }

	                span{
	                    font-size: 13px;
	                    font-weight: 600;
	                }
	            }
	        }

	        
	    }

		.swiper-pagination-fraction{

			&.steps{
				position: absolute;
				width: 100px;
				color: #fff;
				font-size: 15px;
				bottom: 40px;
				left: calc(50% - 50px);
				right: auto;
				top: auto;
				text-align: left;

				&:after{
					content: '';
					position: absolute;
					top: 50%;
					left: 15%;
					width: 70%;
					height: 1px;
					background: rgba(255,255,255, .3);
				}

				.swiper-pagination-total{
					float: right;
				}
			}
		}
	}

}
@media (min-width: 1200px){
	.showcase.style-1 .container {
	    width: 1200px;
	}
}
/*----------Showcase Style 2----------*/
.showcase.style-2{

	.showcase-carus{
	    height: 100vh;

	    .swiper-container{
	        height: 100%;
	    }

	    .swiper-slide{

	        .bg-img{
	            height: 60vh;
	            margin: 20vh 0 0;
	        }
	    }

	    .caption, .copy-cap{

	        h1{
	            font-size: 90px;
	            font-weight: 800;
	            line-height: 1.2;
	            position: relative;
	            left: -120px;

	            .stroke{
	                color: transparent;
	                
	                transform: skewX(25deg) translateX(-100px);
	                opacity: 0;
	                transition: transform 1.2s, opacity .3s;
	                transition-delay: .2s;
	            }

	            span{
	                margin-left: 40px;
	                transform: skewX(-25deg) translateX(100px);
	                opacity: 0;
	                transition: transform 1.2s, opacity .3s;
	                transition-delay: .2s;
	            }
	        }

	        .discover{
	            margin-top: 50px;
	            opacity: 0;
	            transition: all .7s;

	            i{
	                display: inline-block;
	                width: 70px;
	                height: 70px;
	                line-height: 70px;
	                text-align: center;
	                border: 1px solid #fff;
	                border-radius: 50%;
	                margin-right: 10px;
	            }

	            span{
	                font-size: 13px;
	                font-weight: 600;
	            }
	        }
	    }

	    .swiper-slide-active {
	        
	        .caption, .copy-cap{

	            h1{

	                .stroke{
	                    transform: skewX(0) translateX(0);
	                    opacity: 1;
	                }
	    
	                span{
	                    transform: skewX(0) translateX(0);
	                    opacity: 1;
	                }
	            }

	            .discover{
	               opacity: 1;
	            }
	        }
	    }

	    .copy-cap{
	        position: absolute;
	        top: 0;
	        left: 0;
	        width: 100%;
	        height: 100%;
	        z-index: -1;

	        .cap{

	            h1{

	                span{
	                    color: transparent;
	                    
	                }
	        
	                .stroke{
	                    
	                    -webkit-text-stroke: 0;
	                }
	            }
	        }
	    }

	    &.circle-slide{

	        .swiper-slide{
	            display: -webkit-box;
	            display: -ms-flexbox;
	            display: flex;
	            -webkit-box-align: center;
	            -ms-flex-align: center;
	            align-items: center;

	            .bg-img{
	                height: 420px;
	                width: 420px;
	                border-radius: 50%;
	                margin: auto;
	                background-position: center center;

	                &:before{
	                    border-radius: 50%;
	                }
	            }
	        }

	        .caption, .copy-cap{
	            position: absolute;
	            top: 0;
	            left: 0;
	            width: 100%;
	            height: 100%;

	            h1{
	                font-size: 90px;
	                display: block;
	                min-width: 700px;
	                text-align: center;
	                left: -140px;
	                margin: auto;
	    
	                .stroke{
	                    display: inline-block;
	                    color: transparent;
	                    
	                }
	    
	                span{
	                    margin-left: auto;
	                    color: transparent;
	                    
	                }
	            }
	        }

	        .copy-cap{
	    
	            .cap{
	    
	                h1{
	    
	                    span{
	                        color: #fff;
	                        -webkit-text-stroke: 0;
	                    }
	            
	                    .stroke{
	                        color: #fff;
	                        -webkit-text-stroke: 0;
	                    }
	                }
	            }
	        }

	        .caption, .copy-cap{

	            h1{

	                .stroke{
	                    transform: skewX(0) translateX(0);
	                    opacity: 1;
	                }
	    
	                span{
	                    transform: skewX(0) translateX(0);
	                    opacity: 1;
	                }
	            }
	        }
	    }
	}
	
}
@media screen and (max-width: 991px){
	.showcase.style-2 {
		.showcase-carus .caption h1, .showcase-carus .copy-cap h1 {
		    font-size: 60px;
		    left: auto;
		    margin-left: 20px;
		}
		.showcase-carus .swiper-slide .bg-img{
			margin: 0;
		    height: 100vh;
		    background-position: center center;
		}
	}
}

// Light Mode
.showcase.style-2{
	.showcase-carus .caption h1 .stroke, .showcase.style-2 .showcase-carus .copy-cap h1 .stroke{
	    -webkit-text-stroke: 1px $primary_color;
	}
	[data-overlay-dark] h1, [data-overlay-dark] h2, [data-overlay-dark] h3, [data-overlay-dark] h4, [data-overlay-dark] h5, [data-overlay-dark] h6, [data-overlay-dark] span{
		color:$primary_color;
	}
	.showcase-carus .copy-cap .cap h1 .stroke{
		color:$primary_color;
	}
	.txt-botm .swiper-nav-ctrl span{
		color:#000;
	}
	.showcase-carus .copy-cap .cap h1 span{
		-webkit-text-stroke: 1px $primary_color;
	}
} 

// Dark Mode 
body.avo-dark-mode .showcase.style-2{
	.showcase-carus .caption h1 .stroke, .showcase.style-2 .showcase-carus .copy-cap h1 .stroke{
	    -webkit-text-stroke: 1px #fff;
	}
	[data-overlay-dark] h1, [data-overlay-dark] h2, [data-overlay-dark] h3, [data-overlay-dark] h4, [data-overlay-dark] h5, [data-overlay-dark] h6, [data-overlay-dark] span{
		color:#fff;
	}
	.showcase-carus .copy-cap .cap h1 .stroke{
		color:#fff;
	}
	.txt-botm .swiper-nav-ctrl span{
		color:#fff;
	}
	.showcase-carus .copy-cap .cap h1 span{
		-webkit-text-stroke: 1px #fff;
	}
} 

// Auto Mode
@media (prefers-color-scheme: dark) {

	body.avo-auto-mode .showcase.style-2{
		.showcase-carus .caption h1 .stroke, .showcase.style-2 .showcase-carus .copy-cap h1 .stroke{
		    -webkit-text-stroke: 1px #fff;
		}
		[data-overlay-dark] h1, [data-overlay-dark] h2, [data-overlay-dark] h3, [data-overlay-dark] h4, [data-overlay-dark] h5, [data-overlay-dark] h6, [data-overlay-dark] span{
			color:#fff;
		}
		.showcase-carus .copy-cap .cap h1 .stroke{
			color:#fff;
		}
		.txt-botm .swiper-nav-ctrl span{
			color:#fff;
		}
		.showcase-carus .copy-cap .cap h1 span{
			-webkit-text-stroke: 1px #fff;
		}
	}
}

/*----------Showcase Style 3----------*/
.showcase.style-3{

	.showcase-carus{
	    height: 100vh;

	    .swiper-container{
	        height: 100%;
	    }

	    .swiper-slide{

	        .bg-img{
	            height: 60vh;
	            margin: 20vh 0 0;
	        }
	    }

	    .caption, .copy-cap{

	        h1{
	            font-size: 90px;
	            font-weight: 800;
	            line-height: 1.2;
	            position: relative;
	            left: -120px;

	            .stroke{
	                color: transparent;
	                
	                transform: skewX(25deg) translateX(-100px);
	                opacity: 0;
	                transition: transform 1.2s, opacity .3s;
	                transition-delay: .2s;
	            }

	            span{
	                margin-left: 40px;
	                transform: skewX(-25deg) translateX(100px);
	                opacity: 0;
	                transition: transform 1.2s, opacity .3s;
	                transition-delay: .2s;
	            }
	        }

	        .discover{
	            margin-top: 50px;
	            opacity: 0;
	            transition: all .7s;

	            i{
	                display: inline-block;
	                width: 70px;
	                height: 70px;
	                line-height: 70px;
	                text-align: center;
	                border: 1px solid #fff;
	                border-radius: 50%;
	                margin-right: 10px;
	            }

	            span{
	                font-size: 13px;
	                font-weight: 600;
	            }
	        }
	    }

	    .swiper-slide-active {
	        
	        .caption, .copy-cap{

	            h1{

	                .stroke{
	                    transform: skewX(0) translateX(0);
	                    opacity: 1;
	                }
	    
	                span{
	                    transform: skewX(0) translateX(0);
	                    opacity: 1;
	                }
	            }

	            .discover{
	               opacity: 1;
	            }
	        }
	    }

	    .copy-cap{
	        position: absolute;
	        top: 0;
	        left: 0;
	        width: 100%;
	        height: 100%;
	        z-index: -1;

	        .cap{

	            h1{

	                span{
	                    color: transparent;
	                    
	                }
	        
	                .stroke{
	                   
	                    -webkit-text-stroke: 0;
	                }
	            }
	        }
	    }

	    &.circle-slide{

	        .swiper-slide{
	            display: -webkit-box;
	            display: -ms-flexbox;
	            display: flex;
	            -webkit-box-align: center;
	            -ms-flex-align: center;
	            align-items: center;

	            .bg-img{
	                height: 420px;
	                width: 420px;
	                border-radius: 50%;
	                margin: auto;
	                background-position: center center;

	                &:before{
	                    border-radius: 50%;
	                }
	            }
	        }

	        .caption, .copy-cap{
	            position: absolute;
	            top: 0;
	            left: 0;
	            width: 100%;
	            height: 100%;

	            h1{
	                font-size: 90px;
	                display: block;
	                min-width: 700px;
	                text-align: center;
	                left: -140px;
	                margin: auto;
	    
	                .stroke{
	                    display: inline;
	                    color: transparent;
	                    
	                }
	    
	                span{
	                    margin-left: auto;
	                    color: transparent;
	                    
	                }
	            }
	        }

	        .copy-cap{
	    
	            .cap{
	    
	                h1{
	    
	                    span{
	                        
	                        -webkit-text-stroke: 0;
	                    }
	            
	                    .stroke{
	                        
	                        -webkit-text-stroke: 0;
	                    }
	                }
	            }
	        }

	        .caption, .copy-cap{

	            h1{

	                .stroke{
	                    transform: skewX(0) translateX(0);
	                    opacity: 1;
	                }
	    
	                span{
	                    transform: skewX(0) translateX(0);
	                    opacity: 1;
	                }
	            }
	        }
	    }
	}
	.txt-botm{
		position: absolute;
		bottom: 20px;
		left: 0;
		width: 100%;
		z-index: 8;

		.swiper-nav-ctrl{
			position: absolute;
			width: auto;
			height: auto;
			margin-top: auto;
			top: auto;
			bottom: 0;
		    display: flex;
			
			i{
				color: #ccc;
				font-size: 13px;
				width: 45px;
				height: 45px;
				line-height: 45px;
				text-align: center;
				margin: 0;
				border-radius: 50%;
				display: inline-block;
				transition: all .3s;
			}

			span{
				font-weight: 500;
				font-size: 12px;
				
				text-align: center;
   				 line-height: 3;
			}

			&:after{
				display: none;
			}

			&.swiper-button-next{
				right: 40px;

				i{
					margin-left: 10px;
				}
			}

			&.swiper-button-prev{
				left: 40px;

				i{
					margin-right: 10px;
				}
			}

			&:hover{

				i{
					border: 1px solid rgba(255,255,255, .3);
				}
			}
		}
	}
}
// Responsive
@media screen and (max-width: 480px){
	.showcase.style-3  {
	    .circle-slide{

	        .swiper-slide{
	            
	            .bg-img{
	                height: 280px !important;
	                width: 280px !important;
	            }
	        }
	    }

	    .showcase-carus.circle-slide .caption h1,
	    .showcase-carus.circle-slide .copy-cap h1{
	        font-size: 40px;
            min-width: auto;
            left: 0;
	    }
	}
}
// Light Mode
.showcase.style-3{
	background-color: #fff;
	.showcase-carus.circle-slide .caption h1 .stroke,.copy-cap h1 .stroke,.caption h1 span,.copy-cap h1 span,.copy-cap .cap h1 .stroke,.copy-cap .cap h1 span{
        -webkit-text-stroke: 1px $primary_color;
	}
	.showcase-carus.circle-slide .caption h1 span, .showcase.style-3 .showcase-carus.circle-slide .copy-cap h1 span{
		    -webkit-text-stroke: 1px $primary_color;
	}
	.showcase-carus.circle-slide .copy-cap .cap h1 .stroke,.showcase-carus.circle-slide .copy-cap .cap h1 span{
        color: $primary_color;
	}
	.txt-botm .swiper-nav-ctrl span,.txt-botm .swiper-nav-ctrl i{
		    color: #000;
	}
} 

// Dark Mode 
body.avo-dark-mode .showcase.style-3{
	background-color: #0C0F16;
	.showcase-carus.circle-slide .caption h1 .stroke,.copy-cap h1 .stroke,.caption h1 span,.copy-cap h1 span,.copy-cap .cap h1 .stroke,.copy-cap .cap h1 span{
        -webkit-text-stroke: 1px #fff;
	}
	.showcase-carus.circle-slide .caption h1 span, .showcase.style-3 .showcase-carus.circle-slide .copy-cap h1 span{
		    -webkit-text-stroke: 1px #fff;
	}
	.showcase-carus.circle-slide .copy-cap .cap h1 .stroke,.showcase-carus.circle-slide .copy-cap .cap h1 span{
        color: #fff;
	}
	.txt-botm .swiper-nav-ctrl span,.txt-botm .swiper-nav-ctrl i{
		    color: #fff;
	}
} 

// Auto Mode
@media (prefers-color-scheme: dark) {

	body.avo-auto-mode .showcase.style-3{
		background-color: #0C0F16;
		.showcase-carus.circle-slide .caption h1 .stroke,.copy-cap h1 .stroke,.caption h1 span,.copy-cap h1 span,.copy-cap .cap h1 .stroke,.copy-cap .cap h1 span{
	        -webkit-text-stroke: 1px #fff;
		}
		.showcase-carus.circle-slide .caption h1 span, .showcase.style-3 .showcase-carus.circle-slide .copy-cap h1 span{
			    -webkit-text-stroke: 1px #fff;
		}
		.showcase-carus.circle-slide .copy-cap .cap h1 .stroke,.showcase-carus.circle-slide .copy-cap .cap h1 span{
	        color: #fff;
		}
		.txt-botm .swiper-nav-ctrl span,.txt-botm .swiper-nav-ctrl i{
			    color: #fff;
		}
	}
}
/*----------Showcase Style 4----------*/
.showcase.style-4{
	.slider{
		position: relative;
	}
	.showcase-grid{

	    .swiper-container{
	        height: 100%;
	    }

	    .swiper-slide{

	        .bg-img{
	            height: 76vh;
	            margin: 12vh 0 0;
	            position: relative;
	            background-position: center center;
	        }
	    }
	}

	.div-tooltip-tit {
	    display: none;
	    position: absolute;
	    background-color: #000;
	    padding: 0 10px;
	    height: 50px;
	    line-height: 50px;
	    font-size: 13px;
	    font-weight: 600;
	    text-transform: uppercase;
	    letter-spacing: 1px;
	    z-index: 99999;
	    color:#fff;
	}

	.div-tooltip-sub {
	    display: none;
	    position: absolute;
	    background-color: #fff;
	    padding: 10px;
	    color: #111;
	    font-size: 10px;
	    font-weight: 600;
	    text-transform: uppercase;
	    letter-spacing: 1px;
	    z-index: 99999;
	}


	.txt-botm{
		position: absolute;
		bottom: 20px;
		left: 0;
		width: 100%;
		z-index: 8;

		.swiper-nav-ctrl{
			position: absolute;
			width: auto;
			height: auto;
			margin-top: auto;
			top: auto;
			bottom: 0;
		    display: flex;
			
			i{
				color: #ccc;
				font-size: 13px;
				width: 45px;
				height: 45px;
				line-height: 45px;
				text-align: center;
				margin: 0;
				border-radius: 50%;
				display: inline-block;
				transition: all .3s;
			}

			span{
				font-weight: 500;
				font-size: 12px;
				color: #fff;
				text-align: center;
   				 line-height: 3;
			}

			&:after{
				display: none;
			}

			&.swiper-button-next{
				right: 40px;

				i{
					margin-left: 10px;
				}
			}

			&.swiper-button-prev{
				left: 40px;

				i{
					margin-right: 10px;
				}
			}

			&:hover{

				i{
					border: 1px solid rgba(255,255,255, .3);
				}
			}
		}
	}

}
