/*----------Side Panel Style----------*/
.side-panel{
position: fixed;
z-index: 3;
top: 0;
bottom: 0;
right: 0;
width: 100%;
height: 100vh;
overflow: hidden;
overflow-y: auto;
background: #fff;
-webkit-transform: translateX(-webkit-calc(100% + 80px));
-moz-transform: translateX(-moz-calc(100% + 80px));
-ms-transform: translateX(calc(100% + 80px));
-o-transform: translateX(calc(100% + 80px));
transform: translateX(calc(100% + 80px));
-webkit-transition: -webkit-transform .45s ease-in-out;
transition: -webkit-transform .45s ease-in-out;
-o-transition: -o-transform .45s ease-in-out;
-moz-transition: transform .45s ease-in-out, -moz-transform .45s ease-in-out;
transition: transform .45s ease-in-out;
transition: transform .45s ease-in-out, -webkit-transform .45s ease-in-out, -moz-transform .45s ease-in-out, -o-transform .45s ease-in-out;
	&.open {
	    -webkit-transform: translateX(0);
	    -moz-transform: translateX(0);
	    -ms-transform: translateX(0);
	    -o-transform: translateX(0);
	    transform: translateX(0); 
	}

.close-black-block-offcanvas{
    position: absolute;
    color: #fff;
    font-size: 15px;
    display: block;
    font-weight: normal;
    line-height: 1;
    border-radius: 50% 50% 50% 50%;
    padding: 4px 7px 5px 7px;
    border: 1px solid #ccc;
    z-index: 10;
    background-color: #fff;
    top: 15px;
    right: 15px;
    display: none;
}

}


