



.widgettitle {
	display: block;
	font-weight: 600;
	line-height: 1;
	letter-spacing: 0;
	margin: 0;
	position: relative;
	padding-bottom: 15px;
	font-size: 18px;
	border-bottom: 1px solid rgba(0,0,0,.1);
}
.widget-border {
	width: 50px;
	height: 2px;
	background-color: #75dab4;
	margin-bottom: 30px;
	margin-top: -1px;
}

.widget {
	padding: 0 0 60px;
	> ul > li > ul ul li {
    	margin-left: 9px;
	}
	> ul > li li, > div > ul > li li{
		margin-left: 10px;
	}
	ul {
		padding: 0;
		li {
			list-style: none;
			ul {
				li {
					padding-bottom: 0;
					border: none;
				}
			}
			a {
				&:before {
					content: "\f105";
					font-family: $iconFont;
					margin-right: 10px;
					color:$primary_color;
				}
			}
		}


	}
	&.widget_recent_comments ul li a:before{
		content:none;
	}
	&.widget_recent_comments > ul > li:before{
		content: "\f27b";
		font-family: $iconFont;
	    margin-right: 10px;
	    color:$primary_color;
	}
	&.widget_recent_comments a[rel~=external] {
    	text-decoration: underline;
    	color: #777;
	}

	&.widget_recent_entries ul li a:before{
		content: "\f0c5";
		font-family: $iconFont;
	    margin-right: 10px;
	    color:$primary_color;
	}
	&.widget_archive ul li a:before{
		content: "\f24d";
		font-family: $iconFont;
	    margin-right: 10px;
	    color:$primary_color;
	}
	&.widget_meta ul li a:before{
		content: "\f0c1";
		font-family: $iconFont;
	    margin-right: 10px;
	    color:$primary_color;
	}


	li{
	  margin: 1.5rem 0;
	}

	ul.abtw-soc { 
			li {
				a {
					&:before {
						display: none;
					}
				}
			}
		}
		.abtw-soc {
			list-style: outside none none;
			margin: 40px 0 0;
			padding: 0;
			>li {
				display: inline-block;
				list-style: outside none none;
				margin: 0 2px;
			}
		}

}

.sidebar {
	select {
		width: 100%;
		padding: 8px 10px;
	}
	.widget {
		.textwidget {
			p {
				margin-bottom: 0;
			}
		}
	}
	.theiaStickySidebar {
		padding-left: 36px;
		margin-bottom: -20px;
	}
	.widget ul:last-child>li:last-child{
		margin-bottom:0;
	}
}
.searchform {
	margin: 0;
	position: relative;
	input[type=search] {
		display: block;
		height: 45px;
		margin: 0;
		padding: 5px;
		width: 100%;
		padding-left: 10px;
		border-bottom: 1px solid rgba(0,0,0,.1);
		&:focus {
			border-color: $color_4;
		}
		&:placeholder{
			color:#ccc;
		}
	}
	.searchsubmit {
		height: 45px;
		right: 0;
		line-height: 1;
		margin-top: -22.5px;
		padding: 0;
		position: absolute;
		text-indent: -99999px;
		top: 50%;
		transition: all 0.3s ease 0s;
		-webkit-transition: all 0.3s ease 0s;
		-moz-transition: all 0.3s ease 0s;
		-o-transition: all 0.3s ease 0s;
		-ms-transition: all 0.3s ease 0s;
		width: 45px;
		z-index: 1;
		color: $no_color;
		background: transparent;
	}
	&::after {
		display: inline-block;
		content: "\f002";
		font-family: $iconFont;
		position: absolute;
		top: 50%;
		right: 15px;
		transform: translateY(-50%);
		color: $primary-color !important;
	}
}
.widget_categories {
	ul {
		li.cat-item {
			span {
			  float: right;
			  width: 25px;
			  background-color: #f1f1f1;
			  height: 25px;
			  line-height: 25px;
			  text-align: center;
			  border-radius: 50%;
			}
		}
	}
}
.widget_categories ul li.cat-item a:hover + span {
  background-color: #75dab4;;
  color: #fff; }
.widget_archive {
	ul {
		li {
			span {
			  float: right;
			  width: 25px;
			  background-color: #f1f1f1;
			  height: 25px;
			  line-height: 25px;
			  text-align: center;
			  border-radius: 50%;
			}
		}
	}
}
.widget_archive ul li a:hover + span { 
  background-color: #75dab4;;
  color: #fff; }
  
.widget.widget_archive ul li:last-child{
				margin-bottom: 0px;
			}

.tagcloud {
	a {
		color: #777;
		display: inline-block;
		font-size: 13px;
		letter-spacing: 1px;
		margin-bottom: 5px;
		padding: 4px 10px;
		border: 1px solid #ebebeb;
		&:hover {
			color: $primary-color;
			border-color: $primary-color;
		}
	}
}
.widget-about-us {
	text-align: center;
	max-width: 500px;
	h3 {
		color: $color-white;
		display: block;
		font-size: 28px;
		font-weight: 900;
		margin: 0;
		margin-top: 30px;
		max-width: 100%;
		overflow-wrap: break-word;
		position: relative;
		text-transform: uppercase;
		z-index: 1;
	}
	p {
		margin: 0;
	}
}
.bordering-widget {
	color: $color-white;
	margin: 5%;
	padding: 20px;
	position: relative;
	top: 0;
}
.abtw-box {
	position: relative;
	color: $color-white;
	padding: 25px 10px 10px 10px;
	.slider-mask {
		z-index: 0;
		background: rgba(0,0,0,0.5);
	}
}
.ab-bordering {
	overflow: hidden;
	padding: 40px 30px;
	background: #75dab4;
	color: $color-white;
	font-size: 14px;
}
.wdg-about-subtitle {
	font-size: 15px;
	line-height: 1;
	background: #fff;
	padding: 14px 25px;
	display: inline-block;
	text-transform: uppercase;
	letter-spacing: 5px;
	color: $color-black;
	font-weight: bold;
	margin: 0;
}
.abtw-soc {
	a {
		border: 0px;
		color: $color-white;
		background: #75dab4;
		display: inline-block;
		border-radius: 100px;
		height: 40px;
		line-height: 40px;
		width: 40px;
		&:hover {
			color: $primary-color;
			background: #fff;
			border-color: $color-white;
		}
	}
}
.rpwe-block {
	ul {
		list-style: none !important;
		margin-left: 0 !important;
		padding-left: 0 !important;
	}
	li {
		margin-bottom: 10px;
		padding-bottom: 10px;
		list-style-type: none;
	}
	a {
		display: inline !important;
		text-decoration: none;
	}
	h3 {
		display: block;
		background: none !important;
		clear: none;
		margin-bottom: 0 !important;
		margin-top: 0 !important;
		font-weight: 400;
		font-size: 12px !important;
		line-height: 1.5em;
	}
}
.rpwe-thumb {
	border: 1px solid #EEE !important;
	box-shadow: none !important;
	margin: 2px 10px 2px 0;
	padding: 3px !important;
}
.rpwe-summary {
	font-size: 12px;
}
.rpwe-time {
	color: $color_4;
	font-size: 11px;
}
.rpwe-comment {
	color: $color_4;
	font-size: 11px;
	padding-left: 5px;
}
.rpwe-alignleft {
	display: inline;
	float: left;
}
.rpwe-alignright {
	display: inline;
	float: right;
}
.rpwe-aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.rpwe-clearfix {
	&:before {
		content: "";
		display: table !important;
	}
	&:after {
		content: "";
		display: table !important;
		clear: both;
	}
	zoom: 1;
}
.rpwe_widget {
	ul {
		li {
			a {
				&:before {
					display: none;
				}
			}
		}
	}
	.rpwe-thumb {
		width: 85px;
		border-radius: 0;
		border: none !important;
	}
	.rpwe-block {
		li {
			border: none;
		}
		h3 {
			line-height: 1.6;
			font-size: 16px !important;
			margin-top: 0 !important;
		}
	}
	.rpwe-title {
		a {
			font-size: 15px !important;
			line-height: 1.6;
			color: $gray-color;
			-webkit-transition: 100ms linear all;
			-moz-transition: 100ms linear all;
			transition: 100ms linear all;
			&:hover {
				color: $color-black;
			}
		}
	}
	.rpwe-time {
		font-size: 13px;
	}
}
