
/*----------All Slider Styles----------*/

.slider, .avo-slider{
	.swiper-button-prev,.swiper-button-next{
			background-image:none;
		}
}
/*----------Slider Style 1----------*/


.avo-slider.style-1 {
	.slider-box.container-fluid {
		max-width: 100%;
		padding-left: 4em;
		padding-right: 4em;
	}
	.slider {
		>.slide {
			opacity: 0;
			position: absolute;
			top: 0;
			left: 0;
			&:first-child {
				position: relative;
			}
		}
		.slick-dots {
			position: absolute;
			bottom: 10px;
			display: block;
			width: 100%;
			padding: 0;
			margin: 0;
			list-style: none;
			text-align: center;
		}
	}
	.slider-img-bg {
		z-index: -2;
		background-position: 50% 50%;
		background-size: cover;
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
		&:nth-child(2) {
			-moz-animation-delay: 10s;
			-webkit-animation-delay: 10s;
			animation-delay: 10s;
		}
		&:nth-child(3) {
			-moz-animation-delay: 20s;
			-webkit-animation-delay: 20s;
			animation-delay: 20s;
		}
		&:nth-child(4) {
			-moz-animation-delay: 30s;
			-webkit-animation-delay: 30s;
			animation-delay: 30s;
		}
		&:nth-child(5) {
			-moz-animation-delay: 40s;
			-webkit-animation-delay: 40s;
			animation-delay: 40s;
		}
	}
	.slider-line {
		margin-top: 0;
		background-color: $primary-color;
		display: inline-block;
		height: 2px;
		margin-bottom: 0;
		position: relative;
		top: -15px;
		width: 100px;
	}
	.slider-hidden {
		overflow: hidden;
	}
	.slider-mask {
		height: 100%;
		left: 0%;
		position: absolute;
		top: 0%;
		width: 100%;
		z-index: -1;
		background: #fff;
		opacity: .8;
	}
	.slider-box {
		padding-bottom: 14%;
		padding-top: 14%;
		position: relative;
		text-align: center;
	}
	.slide {
		position: relative;
		overflow: hidden;
	}
	.slider-text {
		color: #ccc;
		font-size: 16px;
		margin-bottom: 1.4em;
		max-width: 70%;
		margin-left: auto;
   	 	margin-right: auto;
	}

	.slider-subtitle {
		color: #eee;
		font-size: 18px;
		font-weight: 600;
		letter-spacing: 3px;
		margin: 0;
		text-transform: uppercase;
		margin-bottom: 10px;
	}
	.slider-style-2 {
		.slider-title {
			font-size: 65px;
			letter-spacing: -1px;
			line-height: 1.2;
			font-weight: 700;
		}
		.slider-subtitle {
			background: $primary-color;
			max-width: 500px;
			padding: 0px 20px;
			display: inline-block !important;
		}
	} 

	.home-slider {
		.slick-arrow {
			-webkit-transition: all 0.4s ease-out 0s;
			background: #ffffff3d;
			top: 50%;
			color: $color-white;
			cursor: pointer;
			font-size: 16px;
			height: 50px;
			line-height: 50px;
			margin-top: 0;
			opacity: 1;
			position: absolute;
			text-align: center;
			transition: all 0.4s ease-out 0s;
			width: 50px;
			z-index: 3;
			border-radius: 50%;
			font-weight: 800;
			&.fa-angle-right{
				right:50px;
			}
			&.fa-angle-left{
				left:50px;
			}
			&:hover {
				background: #fff;
				color: $primary-color;
			}
		}
	}
	.btn-relative {
		overflow: hidden;
		display: inline-block;
	}
	.slider-btn {
		-webkit-transition-duration: 1.5s;
		display: inline-block;
		font-size: 14px;
		overflow: hidden;
		position: relative;
		z-index: 1;
		color: $color-white;
		padding: 16px 36px;
		transition-duration: 1.5s;
		letter-spacing: 1px;
		line-height: 20px;
		background: transparent;
		font-weight: 600;
		&:hover {
			color: $primary-color;
			&::after {
				-ms-transform: scale(4);
				opacity: 1;
				transform: scale(4);
				-webkit-transform: scale(4);
			}
			&::before {
				-ms-transform: scale(4);
				opacity: 1;
				transform: scale(4);
				-webkit-transform: scale(4);
			}
		}
		&::before {
			-ms-transform: scale(0);
			-webkit-transition-duration: 0.8s;
			-webkit-transition: all 0.4s ease-out 0s;
			opacity: 0.3;
			transform: scale(0);
			-webkit-transform: scale(0);
			background: transparent;
			border-radius: 200px;
			content: "";
			display: block;
			height: 200px;
			left: -50%;
			margin-top: -100px;
			position: absolute;
			top: 50%;
			transition-duration: 0.8s;
			transition: all 0.4s ease-out 0s;
			width: 200px;
			z-index: -1;
		}
		&::after {
			-ms-transform: scale(0);
			-webkit-transition: all 0.4s ease-in 0s;
			opacity: 0.3;
			transform: scale(0);
			transition-delay: 0.3s;
			-webkit-transform: scale(0);
			background: #fff none repeat scroll 0 0;
			border-radius: 200px;
			content: "";
			display: block;
			height: 200px;
			left: -50%;
			margin-top: -100px;
			position: absolute;
			top: 50%;
			transition: all 0.4s ease-in 0s;
			width: 200px;
			z-index: -1;
		}
	}
	.dsc-btn-style1 {
		color: $color-white;
		background-color: $primary-color;
		border: 2px solid $primary-color;
		margin-right: 5px;
		&:hover {
			color: $color-black;
			background: transparent;
		}
	}
	.dsc-btn-style2 {
		color: $primary-color;
		background: #fff;
		border: 2px solid #fff;
	}
	.slider-content {
		display: inline-block;
		width: 100%;
		padding: 10px;
	}
	.slider-content.left-box-slider {
		margin: 0;
	}
	.left-box-slider {
		.slider-line {
			background-color: #75dab4;
			height: 5px;
			margin-bottom: 25px;
			margin-top: -15px;
			margin: 0;
			width: 150px;
		}
	}
	.center-box-slider {
		.slider-line {
			background-color: #75dab4;
			height: 15px;
			margin-bottom: 25px;
			margin: auto;
			top: -40px;
			width: 300px;
		}
	}
	.page-head-slider {
		.slider-box {
			padding-bottom: 120px;
			padding-top: 200px;
		}
	}
	.custom-paging{
			position: absolute;
		    right: 40px;
		    left: auto;
		    bottom: 30px;
		    top: auto;
		    width: auto;
		    color: #fff;
		    li{
		    	list-style-type: none;
		    	letter-spacing: 8px;
		    	font-size:14px;
		    	font-weight:300;
	    	    -webkit-transition: all 0.5s ease-out;
			    -moz-transition: all 0.5s ease-out;
			    -ms-transition: all 0.5s ease-out;
			    -o-transition: all 0.5s ease-out;

		    	&::first-letter{
		    		font-size:18px;
		    	}
		    }
		    li:not(.slick-active){
		      display:none;
		    }
		}

}
/*----------Slider Style 6----------*/


.slider.style-6 {
	position: relative;
	&.rtl{
		.caption h1,.btn-curve span{
			letter-spacing: 0 !important;
		}
	}

	&.fixed-slider {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
	}

	.swiper-slide-active {
		z-index: 3; 
	}

	.parallax-slider {
		position: relative;

		.swiper-slide {
			position: relative;
			overflow: hidden;
			width: 100%;
			min-height: 100vh;
			padding-bottom: 50px;

			.bg-img {
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				background-size: cover;
				&:after{
	              content: '';
		          position: absolute;
		          width: 100%;
		          height: 100%;
		          top: 0;
		          left: 0;
		          z-index: -1;
		          background:rgba(0,0,0,.6);
		        }
			}
		}

		.swiper-slide-active {

			.caption {

				h1 {
					transition: all 0s;
					opacity: 1;
					visibility: visible;
					transform: translateY(0);

					.char {
						animation: fadeInUp .5s cubic-bezier(.3, 0, .7, 1) both;
						animation-delay: calc(60ms * var(--char-index));
					}
				}

				.thin,
				.btn-curve,
				p{
					opacity: 1;
					transform: translateY(0);
				}
			}
		}

		.caption {

			.thin {
				color: $primary-color;
				font-size: 30px;
				font-weight: 300;
				text-transform: uppercase;
				letter-spacing: 8px;
				margin-bottom: 5px;
				opacity: 0;
				transform: translateY(-20px);
				transition: all .4s;
				transition-delay: .8s;

				span{
					color: $primary-color;
				}
			}

			h1 {
				font-size: 65px;
				font-weight: 700;
				letter-spacing: 4px;
				color: #fff;
				opacity: 0;
				visibility: hidden;
				transition: opacity .5s,
							visibility .5s;
			}

			p{
				color: #eee;
				margin-top: 15px;
				opacity: 0;
				transform: translateY(20px);
				transition: all .4s;
				transition-delay: .8s;
				padding: 0 22%  0 22%;

			}

			.btn-curve{
				opacity: 0;
				transform: translateY(20px);
				transition: all .4s;
				transition-delay: 1s;
				border: 2px solid;
				line-height: 2;

				span{
					font-size: 15px;
					font-weight: 700;
					text-transform: capitalize;
				}

				&:hover{

					span{
						color: #0c0f16;
					}
				}
			}

			&.dig{

				h1{
					font-weight: 800;
					font-size: 80px;
					text-transform: uppercase;
					
					.tline{
						margin-left: 80px;
					}

					.whitespace{
						width: 20px;
					}
				}
			}
		}
	}

	.setone{
		position: absolute;
		bottom: 8%;
		right: 40px;
		z-index: 8;
		.swiper-button-prev,.swiper-button-next{
			background-image:none;
		}

		.swiper-nav-ctrl{
			color: #ccc;
			font-size: 13px;
			width: 55px;
			height: 55px;
			line-height: 55px;
			text-align: center;
			margin: 5px 0;
			border: 1px solid rgba(255,255,255, .3);
			position: static;

			&:after{
				display: none;
			}
		}

		&.setwo{
			position: static;

			.swiper-nav-ctrl{
				border-radius: 50%;
			}

			.next-ctrl{
				position: absolute;
				top: 50%;
				right: 30px;
			}

			.prev-ctrl{
				position: absolute;
				top: 50%;
				left: 30px;
			}

		}
	}

	.txt-botm{
		position: absolute;
		bottom: 20px;
		left: 0;
		width: 100%;
		z-index: 8;

		.swiper-nav-ctrl{
			position: absolute;
			width: auto;
			height: auto;
			margin-top: auto;
			top: auto;
			bottom: 0;
			
			i{
				color: #ccc;
				font-size: 13px;
				width: 45px;
				height: 45px;
				line-height: 45px;
				text-align: center;
				margin: 0;
				border-radius: 50%;
				display: inline-block;
				transition: all .3s;
			}

			span{
				font-weight: 500;
				font-size: 12px;
				color: #fff;
			}

			&:after{
				display: none;
			}

			&.swiper-button-next{
				right: 40px;

				i{
					margin-left: 10px;
				}
			}

			&.swiper-button-prev{
				left: 40px;

				i{
					margin-right: 10px;
				}
			}

			&:hover{

				i{
					border: 1px solid rgba(255,255,255, .3);
				}
			}
		}
	}

	.swiper-pagination-fraction.top {
		position: absolute;
		right: 15%;
		left: auto;
		bottom: auto;
		top: 20%;
		width: auto;
		color: #fff;
		font-size: 40px;
		font-weight: 500;
	
		.swiper-pagination-current {
			font-size: 60px;
			font-weight: 700;
			position: relative;
			color: transparent;
    		-webkit-text-stroke: .5px #fff;
	
			&:after {
				content: '/';
				color: #fff;
				position: relative;
				margin: 0 10px;
				font-size: 12px;
				font-weight: 100;
			}
		}

		&.botm{
			top: auto;
			bottom: 40px;
			right: 40px;
		}
	}

	.swiper-pagination-fraction{

		&.steps{
			position: absolute;
			width: 100px;
			color: #fff;
			font-size: 15px;
			bottom: 40px;
			left: calc(50% - 50px);
			right: auto;
			top: auto;
			text-align: left;

			&:after{
				content: '';
				position: absolute;
				top: 50%;
				left: 15%;
				width: 70%;
				height: 1px;
				background: rgba(255,255,255, .3);
			}

			.swiper-pagination-total{
				float: right;
			}
		}
	}

	.social-icon{
		position: absolute;
		left: 40px;
		bottom: 40px;
		z-index: 8;

		a{
			width: 40px;
			height: 40px;
			line-height: 40px;
			text-align: center;
			border-radius: 50%;
			border: 1px solid rgba(255,255,255, .05);
			color: #fff;
			font-size: 13px;
		}
	}
}

.cta {

	&__slider-wrapper {
		position: relative;
		width: 100%;
		height: 105vh;
		overflow: hidden;

		.block {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			padding: 0;
		}
	}

	&__slider {
		min-height: 105vh;

		.swiper-slide {
			overflow: hidden;
		}
	}

	//ARROWS
	&__slider-arrows {
		display: block;
		position: absolute;
		bottom: 40px;
		right: 40px;
		z-index: 2;
	}

	&__slider-arrow {
		width: 55px;
		height: 55px;
		text-align: center;
		line-height: 55px;
		font-size: 13px;
		border: 1px solid rgba(255,255,255, .3);
		display: block;
		cursor: pointer;

		//MODIFIERS
		&.cta__slider-arrow--previous {
			left: 0;
		}

		&.cta__slider-arrow--next {
			left: 50%;
		}
	}

	&__slider-item {
		position: relative;

		.media-wrapper {
			position: absolute;
			width: 100%;
			height: 100%;
			left: 0;
			top: 0;

			.bg-img {
				position: absolute;
				width: 70%;
				height: 100%;
				right: 0;
				top: 0;
			}
		}

		.container {
			position: relative;
			z-index: 4;
		}

		.caption {
			position: relative;

			.top-corn,
			.bottom-corn{
				position: absolute;
				left: -60px;
				top: -60px;
				opacity: .3;

				&:after,
				&:before{
					content: '';
					position: absolute;
					top: 0;
					left: 0;
					background: $primary-color;
				}

				&:after{
					width: 30px;
					height: 1px;
				}

				&:before{
					width: 1px;
					height: 30px;
				}
			}

			.bottom-corn{
				top: auto;
				bottom: -60px;

				&:before{
					top: auto;
					bottom: 0;
				}
			}

			h1 {
				font-size: 75px;
				font-weight: 500;
				text-transform: uppercase;
				letter-spacing: 4px;
				color: #fff;
				opacity: 0;
				visibility: hidden;
				transition: opacity .5s,
					visibility .5s;
			}

			.thin {
				color: $primary-color;
				font-size: 20px;
				font-weight: 300;
				text-transform: uppercase;
				letter-spacing: 12px;
				margin-bottom: 5px;
				opacity: 0;
				transform: translateY(-20px);
				transition: all .4s;
				transition-delay: .8s;
			}

			p{
				color: #eee;
				font-weight: 300;
				font-size: 14px;
				opacity: 0;
				transform: translateY(-20px);
				transition: all .4s;
				opacity: 0;
				transform: translateY(20px);
				transition: all .4s;
				transition-delay: .8s;
			}

			.btn-curve{
				opacity: 0;
				transform: translateY(20px);
				transition: all .4s;
				transition-delay: 1s;
			}
		}

		&.swiper-slide-active{
		
			.caption{

				h1{
					transition: all 0s;
					opacity: 1;
					visibility: visible;
	
					.char {
						animation: fadeInUp .5s cubic-bezier(.3, 0, .7, 1) both;
						animation-delay: calc(60ms * var(--char-index));
					} 
				}

				.btn-curve,
				.thin,
				p{
					opacity: 1;
					transform: translateY(0);
				}
			}
		}
	}
}

.freelancer{
	min-height: 100vh;
	background-position: right top;

	.cont{
		margin-top: 50px;

		h6{
			color: $primary-color;
			font-size: 14px;
			font-weight: 300;
			text-transform: uppercase;
			letter-spacing: 5px;
			margin-bottom: 5px;
		}

		h1{
			font-size: 100px;
			font-weight: 700;
			font-family: 'Cormorant Garamond', serif;
			margin-bottom: 5px;
		}

		h4{
			font-weight: 300;
			text-transform: uppercase;
			letter-spacing: 4px;
		}

		.social-icon{
			margin-top: 40px;

			a{
				width: 55px;
				height: 55px;
				line-height: 55px;
				text-align: center;
				border-radius: 50%;
				background: rgba(255,255,255, .05);
				margin-right: 5px;
			}
		}
	}

	.img{
		position: absolute;
		right: 15%;
		bottom: 0;
		width: 400px;
		z-index: 2;
	}
}

.slider-bus{
	min-height: 100vh;
	position: relative;

	.swiper-img{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	.setone{
		position: absolute;
		bottom: 8%;
		right: 40px;
		z-index: 8;

		.swiper-nav-ctrl{
			color: #ccc;
			font-size: 13px;
			width: 55px;
			height: 55px;
			line-height: 55px;
			text-align: center;
			margin: 5px 0;
			border: 1px solid rgba(255,255,255, .3);
			position: static;

			&:after{
				display: none;
			}
		}

		&.setwo{
			position: static;

			.swiper-nav-ctrl{
				border-radius: 50%;
			}

			.next-ctrl{
				position: absolute;
				top: 50%;
				right: 30px;
			}

			.prev-ctrl{
				position: absolute;
				top: 50%;
				left: 30px;
			}
		}
	}

	.swiper-pagination-fraction {
		position: absolute;
		right: auto;
		left: 60px;
		bottom: 30px;
		width: auto;
		color: #fff;
		font-size: 40px;
		font-weight: 500;
	
		.swiper-pagination-current {
			font-size: 60px;
			font-weight: 700;
			position: relative;
			color: transparent;
    		-webkit-text-stroke: .5px #fff;
	
			&:after {
				content: '/';
				color: #fff;
				position: relative;
				margin: 0 10px;
				font-size: 12px;
				font-weight: 100;
			}
		}
	}

	.swiper-slide-active {

		.caption {

			h1 {
				transition: all 0s;
				opacity: 1;
				visibility: visible;
				transform: translateY(0);

				.char {
					animation: fadeInUp .5s cubic-bezier(.3, 0, .7, 1) both;
					animation-delay: calc(60ms * var(--char-index));
				}
			}

			.thin,
			.simple-btn,
			.btn-curve,
			p{
				opacity: 1;
				transform: translateY(0);
			}
		}
	}

	.caption {

		.thin {
			font-size: 16px;
			font-weight: 400;
			text-transform: uppercase;
			letter-spacing: 8px;
			margin-bottom: 5px;
			opacity: 0;
			transform: translateY(-20px);
			transition: all .4s;
			transition-delay: .8s;
		}

		h1 {
			font-size: 90px;
			font-weight: 800;
			letter-spacing: 4px;
			color: #fff;
			opacity: 0;
			visibility: hidden;
			transition: opacity .5s,
						visibility .5s;
		}

		p{
			color: #eee;
			opacity: 0;
			transform: translateY(20px);
			transition: all .4s;
			transition-delay: .8s;
		}

		.simple-btn, .btn-curve{
			opacity: 0;
			transform: translateY(20px);
			transition: all .4s;
			transition-delay: 1s;
		}
	}

	.ontop{
		position: relative;
		z-index: 5;
	}
}

.curve-bg{
	position: absolute;
	top: 0;
	left: -10%;
	width: 100%;
	height: 100%;
	z-index: 3;
}

.pages-header{
	height: 75vh;

	.cont{

		h1{
			font-size: 75px;
			margin-bottom: 20px;
		}

		.path{
			color: #fff;
			font-size: 17px;

			.active{
				color: $primary-color;
			}

			span{
				margin: 0 20px;
				font-size: 10px;
			}
		}
	}
}

.page-header{

	.cont{
		padding: 220px 0 50px;

		h6{
			color: #ccc;
			font-weight: 400;
			font-size: 13px;
			letter-spacing: 1px;
			margin-bottom: 10px;
		}

		h4{
			line-height: 1.6;

			.stroke{
				font-weight: 900;
				-webkit-text-stroke-width: 1px;
				-webkit-text-stroke-color: rgba(255,255,255,.7);
				color: transparent;
			}
		}
	}

	.img-wrapper{
		position: relative;
		min-height: 70vh;

		.title{
			position: absolute;
			top: 0;
			right: 0px;
			width: 100%;
			text-align: right;
			transform: translateY(-55%);
			z-index: 3;

			h3{
				font-size: 100px;
				font-weight: 900;
				-webkit-text-stroke-width: 1px;
				-webkit-text-stroke-color: #fff;
				color: transparent;
			}
		}

		.map{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}

	&.proj-det{

		&.bg-img{
			min-height: 85vh;
			padding-bottom: 100px;

			.item{

				h6{
					font-size: 13px;
					font-weight: 600;
					letter-spacing: 4px;
					text-transform: uppercase;
					margin-bottom: 10px;
				}
				
				p{
					font-weight: 400;
					text-transform: uppercase;
					letter-spacing: 2px;
					font-size: 12px;
		
					a{
						margin: 0 7px;
		
						&:first-of-type{
							margin-left: 0;
						}
		
						&:last-of-type{
							margin-right: 0;
						}
					}
				}
			}
		}

		.img-wrapper{
			min-height: 80vh;
		}
	}
}

.works-header{
	min-height: 80vh;

	&.hfixd{
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
	}

	.capt{
		
		h4{
			font-weight: 200;
			font-size: 24px;
			line-height: 1.8;
		}

		h2{
			font-size: 60px;
			letter-spacing: 2px;
			text-transform: uppercase;

			span{
				display: block;
				font-size: 20px;
				font-weight: 300;
				text-transform: capitalize;
				color: $primary-color;
			}
		}

		.bactxt{
			font-size: 30vw;
			font-weight: bold;
			color: transparent;
    		-webkit-text-stroke: 1px rgba(255, 255, 255, 0.1);
			z-index: -1;
			position: absolute;
			width: 100%;
			height: 100%;
			left: 0;
			top: 0;
			text-align: center;
		}
	}
}

.static{
	position: static;
}

.main-content{
	background: #0c0f16;
	position: relative;
	z-index: 3;
}
// Tablet size
@media screen and (max-width: 991px){
	.avo-slider.style-6 .parallax-slider .caption{
		text-align: center;
		 h1 {
		    font-size: 60px;
		    letter-spacing: 1px;
			>span:nth-child(3){
				margin-left: 0;

			}

		}
	}
}
// Mobile size
@media screen and (max-width: 767px) {
	.avo-slider.style-6 {
		.parallax-slider .caption h1 {
		    font-size: 40px;
		}
		.setone.setwo {


			.next-ctrl{
				left: 70px;
			    bottom: 15px;
			    top: auto;
			    width: 45px;
			    height: 45px;
			    line-height: 45px;
			}
			.prev-ctrl{
			    left: 15px;
			    bottom: 15px;
			    top: auto;
			    width: 45px;
			    height: 45px;
			    line-height: 45px;
			}
		}
		.swiper-pagination-fraction.top.botm{
			right: 15px;
    		bottom: 15px;
		}
		.swiper-pagination-fraction.top .swiper-pagination-current{
			font-size: 40px;
		}
	}
}

/*----------Slider Style7 ----------*/


.avo-slider.style-7 {


	.slider {
		position: relative;

		&.fixed-slider {
			position: fixed;
			top: 0;
			left: 0;
			right: 0;
		}

		.swiper-slide-active {
			z-index: 3;
		}

		.parallax-slider {
			position: relative;

			.swiper-slide {
				position: relative;
				overflow: hidden;
				width: 100%;
				min-height: 100vh;
				padding-bottom: 50px;

				.bg-img {
					position: absolute;
					top: 0;
					right: 0;
					bottom: 0;
					left: 0;
					background-size: cover;
					&:after{
		              content: '';
			          position: absolute;
			          width: 100%;
			          height: 100%;
			          top: 0;
			          left: 0;
			          z-index: -1;
			          background:rgba(0,0,0,.6);
			        }
				}
			}

			.swiper-slide-active {

				.caption {

					h1 {
						transition: all 0s;
						opacity: 1;
						visibility: visible;
						transform: translateY(0);

						.char {
							animation: fadeInUp .5s cubic-bezier(.3, 0, .7, 1) both;
							animation-delay: calc(60ms * var(--char-index));
						}
					}

					.thin,
					.btn-curve,
					p{
						opacity: 1;
						transform: translateY(0);
					}
					.simple-btn{
						color:#fff;
					}
				}
			}

			.caption {

				.thin {
					color: $primary-color;
					font-size: 30px;
					font-weight: 300;
					text-transform: uppercase;
					letter-spacing: 8px;
					margin-bottom: 5px;
					opacity: 0;
					transform: translateY(-20px);
					transition: all .4s;
					transition-delay: .8s;

					span{
						color: $primary-color;
					}
				}

				h1 {
					font-size: 65px;
					font-weight: 700;
					letter-spacing: 4px;
					color: #fff;
					opacity: 0;
					visibility: hidden;
					transition: opacity .5s,
								visibility .5s;
				}

				p{
					color: #eee;
					margin-top: 15px;
					opacity: 0;
					transform: translateY(20px);
					transition: all .4s;
					transition-delay: .8s;
				}

				.btn-curve{
					opacity: 0;
					transform: translateY(20px);
					transition: all .4s;
					transition-delay: 1s;
					border: 2px solid;
					line-height: 2;

					span{
						font-size: 15px;
						font-weight: 700;
						text-transform: capitalize;
					}

					&:hover{

						span{
							color: #0c0f16;
						}
					}
				}

				&.dig{

					h1{
						font-weight: 800;
						font-size: 80px;
						text-transform: uppercase;
						>span:nth-child(3){
							margin-left: 80px;

						}

						.whitespace{
							width: 20px;
						}
					}
				}
			}
		}

		.setone{
			position: absolute;
			bottom: 8%;
			right: 40px;
			z-index: 8;

			.swiper-nav-ctrl{
				color: #ccc;
				font-size: 13px;
				width: 55px;
				height: 55px;
				line-height: 55px;
				text-align: center;
				margin: 5px 0;
				border: 1px solid rgba(255,255,255, .3);
				position: static;

				&:after{
					display: none;
				}
			}

			&.setwo{
				position: static;

				.swiper-nav-ctrl{
					border-radius: 50%;
				}

				.next-ctrl{
					position: absolute;
					top: 50%;
					right: 30px;
				}

				.prev-ctrl{
					position: absolute;
					top: 50%;
					left: 30px;
				}
			}
		}

		.txt-botm{
			position: absolute;
			bottom: 20px;
			left: 0;
			width: 100%;
			z-index: 8;

			.swiper-nav-ctrl{
				position: absolute;
				width: auto;
				height: auto;
				margin-top: auto;
				top: auto;
				bottom: 0;
				
				i{
					color: #ccc;
					font-size: 13px;
					width: 45px;
					height: 45px;
					line-height: 45px;
					text-align: center;
					margin: 0;
					border-radius: 50%;
					display: inline-block;
					transition: all .3s;
				}

				span{
					font-weight: 500;
					font-size: 12px;
					color: #fff;
				}

				&:after{
					display: none;
				}

				&.swiper-button-next{
					right: 40px;

					i{
						margin-left: 10px;
					}
				}

				&.swiper-button-prev{
					left: 40px;

					i{
						margin-right: 10px;
					}
				}

				&:hover{

					i{
						border: 1px solid rgba(255,255,255, .3);
					}
				}
			}
		}

		.swiper-pagination-fraction.top {
			position: absolute;
			right: 15%;
			left: auto;
			bottom: auto;
			top: 20%;
			width: auto;
			color: #fff;
			font-size: 40px;
			font-weight: 500;
		
			.swiper-pagination-current {
				font-size: 60px;
				font-weight: 700;
				position: relative;
				color: transparent;
	    		-webkit-text-stroke: .5px #fff;
		
				&:after {
					content: '/';
					color: #fff;
					position: relative;
					margin: 0 10px;
					font-size: 12px;
					font-weight: 100;
				}
			}

			&.botm{
				top: auto;
				bottom: 40px;
				right: 40px;
			}
		}

		.swiper-pagination-fraction{

			&.steps{
				position: absolute;
				width: 100px;
				color: #fff;
				font-size: 15px;
				bottom: 40px;
				left: calc(50% - 50px);
				right: auto;
				top: auto;
				text-align: left;

				&:after{
					content: '';
					position: absolute;
					top: 50%;
					left: 15%;
					width: 70%;
					height: 1px;
					background: rgba(255,255,255, .3);
				}

				.swiper-pagination-total{
					float: right;
				}
			}
		}

	}


}
// Tablet size
@media screen and (max-width: 991px){
	.avo-slider.style-7 .slider .parallax-slider .caption.dig{
		text-align: center;
		 h1 {
		    font-size: 60px;
		    letter-spacing: 1px;
			>span:nth-child(3){
				margin-left: 0;

			}

		}
	}
}
// Mobile size
@media screen and (max-width: 767px) {
	.avo-slider.style-7 .slider {
		.parallax-slider .caption.dig h1 {
		    font-size: 40px;
		}
		.setone.setwo {


			.next-ctrl{
				left: 70px;
			    bottom: 15px;
			    top: auto;
			    width: 45px;
			    height: 45px;
			    line-height: 45px;
			}
			.prev-ctrl{
			    left: 15px;
			    bottom: 15px;
			    top: auto;
			    width: 45px;
			    height: 45px;
			    line-height: 45px;
			}
		}
		.swiper-pagination-fraction.top.botm{
			right: 15px;
    		bottom: 15px;
		}
		.swiper-pagination-fraction.top .swiper-pagination-current{
			font-size: 40px;
		}
	}
}


/*----------Slider Style8 ----------*/ 


.avo-slider.style-8 {

	.slider-bus{
		min-height: 100vh;
		position: relative;
		overflow: hidden;
		.container{
			display: initial;
		}

		.swiper-img{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}

		.setone{
			position: absolute;
			bottom: 8%;
			right: 40px;
			z-index: 8;

			.swiper-nav-ctrl{
				color: #ccc;
				font-size: 13px;
				width: 55px;
				height: 55px;
				line-height: 55px;
				text-align: center;
				margin: 5px 0;
				border: 1px solid rgba(255,255,255, .3);
				position: static;

				&:after{
					display: none;
				}
			}

			&.setwo{
				position: static;

				.swiper-nav-ctrl{
					border-radius: 50%;
				}

				.next-ctrl{
					position: absolute;
					top: 50%;
					right: 30px;
				}

				.prev-ctrl{
					position: absolute;
					top: 50%;
					left: 30px;
				}
			}
		}

		.swiper-pagination-fraction {
			position: absolute;
			right: auto;
			left: 60px;
			bottom: 30px;
			width: auto;
			color: #fff;
			font-size: 40px;
			font-weight: 500;
		
			.swiper-pagination-current {
				font-size: 60px;
				font-weight: 700;
				position: relative;
				color: transparent;
	    		-webkit-text-stroke: .5px #fff;
		
				&:after {
					content: '/';
					color: #fff;
					position: relative;
					margin: 0 10px;
					font-size: 12px;
					font-weight: 100;
				}
			}
		}

		.swiper-slide-active {

			.caption {

				h1 {
					transition: all 0s;
					opacity: 1;
					visibility: visible;
					transform: translateY(0);

					.char {
						animation: fadeInUp .5s cubic-bezier(.3, 0, .7, 1) both;
						animation-delay: calc(60ms * var(--char-index));
					}
				}

				.thin,
				.simple-btn,
				.btn-curve,
				p{
					opacity: 1;
					transform: translateY(0);
				}

			}
		}

		.caption {
			margin-left: 8.5%;
			max-width: 50%;
		    font-family: 'Poppins', sans-serif;
		    line-height: 2;
   

			.thin {
				font-size: 16px;
				font-weight: 400;
				text-transform: uppercase;
				letter-spacing: 8px;
				margin-bottom: 5px;
				opacity: 0;
				transform: translateY(-20px);
				transition: all .4s;
				transition-delay: .8s;
				line-height: 1.1;
			}

			h1 {
				font-size: 90px;
				font-weight: 800;
				letter-spacing: 4px;
				color: #fff;
				opacity: 0;
				visibility: hidden;
				transition: opacity .5s,
							visibility .5s;
			}

			p{
				color: #eee;
				opacity: 0;
				transform: translateY(20px);
				transition: all .4s;
				transition-delay: .8s;
				margin-bottom: 0;
			}

			.simple-btn, .btn-curve{
				opacity: 0;
				transform: translateY(20px);
				transition: all .4s;
				transition-delay: 1s;
			}
		}

		.ontop{
			position: relative;
			z-index: 5;
		}
	}
	.curve-bg {
		position: absolute;
		top: 0;
		left: -10%;
		width: 100%;
		height: 100%;
		z-index: 3;
	}

}

/*----------Slider Style 9----------*/


.slider.style-9 {
	position: relative;
	&.rtl{
		.caption h1,.btn-curve span{
			letter-spacing: 0 !important;
		}
	}

	&.fixed-slider {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
	}

	.swiper-slide-active {
		z-index: 3; 
	}

	.parallax-slider {
		position: relative;

		.swiper-slide {
			position: relative;
			overflow: hidden;
			width: 100%;
			min-height: 100vh;
			padding-bottom: 50px;

			.bg-img {
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				background-size: cover;
				&:after{
	              content: '';
		          position: absolute;
		          width: 100%;
		          height: 100%;
		          top: 0;
		          left: 0;
		          z-index: -1;
		          background:rgba(0,0,0,.6);
		        }
			}
		}

		.swiper-slide-active {

			.caption {

				h1 {
					transition: all 0s;
					opacity: 1;
					visibility: visible;
					transform: translateY(0);

					.char {
						animation: fadeInUp .5s cubic-bezier(.3, 0, .7, 1) both;
						animation-delay: calc(60ms * var(--char-index));
					}
				}

				.thin,
				.btn-curve,
				p{
					opacity: 1;
					transform: translateY(0);
				}
			}
		}

		.caption {

			.thin {
				color: $primary-color;
				font-size: 30px;
				font-weight: 300;
				text-transform: uppercase;
				letter-spacing: 8px;
				margin-bottom: 5px;
				opacity: 0;
				transform: translateY(-20px);
				transition: all .4s;
				transition-delay: .8s;

				span{
					color: $primary-color;
				}
			}

			h1 {
				font-size: 60px;
				font-weight: 600;
				letter-spacing: 2px;
				text-transform: uppercase;
				color: #fff;
				opacity: 0;
				visibility: hidden;
				transition: opacity .5s,
							visibility .5s;
				font-family: 'Barlow Condensed', sans-serif;
			}

			p{
				color: #eee;
				margin-top: 15px;
				opacity: 0;
				transform: translateY(20px);
				transition: all .4s;
				transition-delay: .8s;
				padding: 0 22%  0 22%;

			}

			.btn-curve{
				opacity: 0;
				transform: translateY(20px);
				transition: all .4s;
				transition-delay: 1s;
				border: 2px solid;
				line-height: 2;

				span{
					font-size: 15px;
					font-weight: 700;
					text-transform: capitalize;
				}

				&:hover{

					span{
						color: #0c0f16;
					}
				}
			}

			&.dig{

				h1{
					font-weight: 800;
					font-size: 80px;
					text-transform: uppercase;
					
					.tline{
						margin-left: 80px;
					}

					.whitespace{
						width: 20px;
					}
				}
			}
		}
		.bactxt{
		    font-size: 30vw;
		    font-weight: bold;
		    color: transparent;
		    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.25);
		    z-index: -1;
		    position: absolute;
		    width: 100%;
		    height: 100%;
		    left: 0;
		    top: -50px;
		    text-align: center;
		}
	}

	.setone{
		position: absolute;
		bottom: 8%;
		right: 40px;
		z-index: 8;
		.swiper-button-prev,.swiper-button-next{
			background-image:none;
		}

		.swiper-nav-ctrl{
			color: #ccc;
			font-size: 13px;
			width: 55px;
			height: 55px;
			line-height: 55px;
			text-align: center;
			margin: 5px 0;
			border: 1px solid rgba(255,255,255, .3);
			position: static;

			&:after{
				display: none;
			}
		}

		&.setwo{
			position: static;

			.swiper-nav-ctrl{
				border-radius: 50%;
			}

			.next-ctrl{
				position: absolute;
				top: 50%;
				right: 30px;
			}

			.prev-ctrl{
				position: absolute;
				top: 50%;
				left: 30px;
			}

		}
	}

	.txt-botm{
		position: absolute;
		bottom: 20px;
		left: 0;
		width: 100%;
		z-index: 8;

		.swiper-nav-ctrl{
			position: absolute;
			width: auto;
			height: auto;
			margin-top: auto;
			top: auto;
			bottom: 0;
			
			i{
				color: #ccc;
				font-size: 13px;
				width: 45px;
				height: 45px;
				line-height: 45px;
				text-align: center;
				margin: 0;
				border-radius: 50%;
				display: inline-block;
				transition: all .3s;
			}

			span{
				font-weight: 500;
				font-size: 12px;
				color: #fff;
			}

			&:after{
				display: none;
			}

			&.swiper-button-next{
				right: 40px;

				i{
					margin-left: 10px;
				}
			}

			&.swiper-button-prev{
				left: 40px;

				i{
					margin-right: 10px;
				}
			}

			&:hover{

				i{
					border: 1px solid rgba(255,255,255, .3);
				}
			}
		}
	}

	.swiper-pagination-fraction.top {
		position: absolute;
		right: 15%;
		left: auto;
		bottom: auto;
		top: 20%;
		width: auto;
		color: #fff;
		font-size: 40px;
		font-weight: 500;
	
		.swiper-pagination-current {
			font-size: 60px;
			font-weight: 700;
			position: relative;
			color: transparent;
    		-webkit-text-stroke: .5px #fff;
	
			&:after {
				content: '/';
				color: #fff;
				position: relative;
				margin: 0 10px;
				font-size: 12px;
				font-weight: 100;
			}
		}

		&.botm{
			top: auto;
			bottom: 40px;
			right: 40px;
		}
	}

	.swiper-pagination-fraction{

		&.steps{
			position: absolute;
			width: 100px;
			color: #fff;
			font-size: 15px;
			bottom: 40px;
			left: calc(50% - 50px);
			right: auto;
			top: auto;
			text-align: left;

			&:after{
				content: '';
				position: absolute;
				top: 50%;
				left: 15%;
				width: 70%;
				height: 1px;
				background: rgba(255,255,255, .3);
			}

			.swiper-pagination-total{
				float: right;
			}
		}
	}

	.social-icon{
		position: absolute;
		left: 40px;
		bottom: 40px;
		z-index: 8;

		a{
			width: 40px;
			height: 40px;
			line-height: 40px;
			text-align: center;
			border-radius: 50%;
			border: 1px solid rgba(255,255,255, .05);
			color: #fff;
			font-size: 13px;
		}
	}
}

// Tablet size
@media screen and (max-width: 991px){
	.avo-slider.style-6 .parallax-slider .caption{
		text-align: center;
		 h1 {
		    font-size: 60px;
		    letter-spacing: 1px;
			>span:nth-child(3){
				margin-left: 0;

			}

		}
	}
}
// Mobile size
@media screen and (max-width: 767px) {
	.avo-slider.style-6 {
		.parallax-slider .caption h1 {
		    font-size: 40px;
		}
		.setone.setwo {


			.next-ctrl{
				left: 70px;
			    bottom: 15px;
			    top: auto;
			    width: 45px;
			    height: 45px;
			    line-height: 45px;
			}
			.prev-ctrl{
			    left: 15px;
			    bottom: 15px;
			    top: auto;
			    width: 45px;
			    height: 45px;
			    line-height: 45px;
			}
		}
		.swiper-pagination-fraction.top.botm{
			right: 15px;
    		bottom: 15px;
		}
		.swiper-pagination-fraction.top .swiper-pagination-current{
			font-size: 40px;
		}
	}
}