

/*----------Slider Style 4----------*/ 

.slider-style-4 {
	overflow: hidden;
	.slider-subtitle {
		color: #eee;
		font-size: 14px;
		font-weight: 300;
		letter-spacing: 1px;
		margin: 0;
		text-transform: uppercase;
		margin-bottom: 10px; 
		position: relative;
		display: inline-block;
		&:before{
	    	content: '';
		    width: 40px;
		    height: 1px;
		    background: #dadbdc;
		    position: absolute;
		    left: -50px;
		    bottom: 45%;
		}
		&:after{
	    	content: '';
		    width: 40px;
		    height: 1px;
		    background: #dadbdc;
		    position: absolute;
		    right: -50px;
		    bottom: 45%;
		}
	}
	.slider-btn {
		padding: 10px 28px;
    	border-radius: 0px;
    	background: transparent;
    	text-transform: uppercase;
	}
	.slider-img-bg {
		-webkit-transform: scale(1);
	    -ms-transform: scale(1);
	    transform: scale(1);
	    background-position: center center;
	    background-repeat: no-repeat;

	}
	.slick-active .slider-img-bg.img-anim { 
	    -webkit-transition: all 7000ms linear;
	    -moz-transition: all 7000ms linear;
	    -ms-transition: all 7000ms linear;
	    -o-transition: all 7000ms linear;
	    transition: all 7000ms linear;
	    -webkit-transform: scale(1.15);
	    -ms-transform: scale(1.15);
	    transform: scale(1.15);
	}
	.custom-paging{
		position: absolute;
	    right: 40px;
	    left: auto;
	    bottom: 30px;
	    top: auto;
	    width: auto;
	    color: #fff;
	    li{
	    	list-style-type: none;
	    	letter-spacing: 8px;
	    	font-size:14px;
	    	font-weight:300;
    	    -webkit-transition: all 0.5s ease-out;
		    -moz-transition: all 0.5s ease-out;
		    -ms-transition: all 0.5s ease-out;
		    -o-transition: all 0.5s ease-out;

	    	&::first-letter{
	    		font-size:18px;
	    	}
	    }
	    li:not(.slick-active){
	      display:none;
	    }
	}
	.line-item {
	    float: left;
	    width: 20%;
	    height: 100%;
	    box-sizing: border-box;
	    border-right: 1px solid rgba(153, 153, 153, 0.05);
	    height: 100%;
	    position: relative;
	    transition: width 1s ease;
	}
	.slick-active .line-item:first-child:before {
	    content: '';
	    position: absolute; 
	    top: 0;
	    right: -2px;
	    width: 2px;
	    height: 10px;
	    background: #606767;
	    animation: scroll3 8s ease-out infinite;
	}
	.slick-active .line-item:last-child:before {
	    content: '';
	    position: absolute;
	    top: 0;
	    right: -2px;
	    width: 2px;
	    height: 10px;
	    background: #606767;
	    animation: scroll3 10s ease-out infinite;
	}
	@keyframes scroll3 {
		0% {
			opacity: 1;
			top: 0
		}
		50% {
			top: 50%
		}
		100% {
			top: 100%;
			opacity: 0.5;
		}
	}
	.slider-btn{
		transition-duration: initial;
	}

	.slick-arrow {
		-webkit-transition: all 0.4s ease-out 0s;
		border:1px solid #ffffff3d;
		background: transparent;
		top: 50%;
		color: #ffffff3d;
		cursor: pointer;
		font-size: 16px;
		height: 50px;
		line-height: 50px;
		margin-top: 0;
		opacity: 1;
		position: absolute;
		text-align: center;
		transition: all 0.4s ease-out 0s;
		width: 50px;
		z-index: 3;
		border-radius: 50%;
		font-weight: 800;
		&:hover {
			background: transparent;
			color: $color-white;
			border-color: $color-white;
			-webkit-transform: translateX(-5px);
    		transform: translateX(-5px);
    		&.fa-angle-right{
    			-webkit-transform: translateX(5px);
    			transform: translateX(5px);
    		}
		}
	}
}

.elementor-widget-dsc-slider .slider-style-4 .fa.fa-angle-right.slick-arrow {
right: 20px; }
.elementor-widget-dsc-slider .slider-style-4 .fa.fa-angle-left.slick-arrow {
left: 20px; }


