

/*----------Slider Style 2----------*/

.slider-style-2 {

	.line-item {
	    float: left;
	    width: 20%;
	    height: 100%;
	    box-sizing: border-box;
	    border-right: 1px solid rgba(153, 153, 153, 0.05);
	    height: 100%;
	    position: relative;
	    transition: width 1s ease;
	}
	.slick-active .line-item:first-child:before {
	    content: '';
	    position: absolute;
	    top: 0;
	    right: -2px;
	    width: 2px;
	    height: 10px;
	    background: #606767;
	    animation: scroll3 8s ease-out infinite;
	}
	.slick-active .line-item:last-child:before {
	    content: '';
	    position: absolute;
	    top: 0;
	    right: -2px;
	    width: 2px;
	    height: 10px;
	    background: #606767;
	    animation: scroll3 10s ease-out infinite;
	}
	@keyframes scroll3 {
		0% {
			opacity: 1;
			top: 0
		}
		50% {
			top: 50%
		}
		100% {
			top: 100%;
			opacity: 0.5;
		}
	}
}



