

/*----------Team Style 1----------*/

.team-3 {
	.team-info {
		background: #fff;
		padding: 20px 10px;
		text-align: center;
		border-bottom: 2px solid $primary-color;
	    width: 75%;
	    margin-left: auto;
	    margin-right: auto;
	    margin-top: -50px;
	    z-index: 100;
	    position: relative;
	    box-shadow: 0px 10px 30px 0px rgba(18, 15, 80, 0.1);
		h5 {
			margin-top: 0;
			margin-bottom: 10px;
			font-size: 20px;
		    font-weight: 700;
		    text-transform: capitalize;
		}
		p {
			font-size: 13px;
			margin-bottom: 15px;
			color: $primary-color;
			font-weight: 500;
	    	letter-spacing: 1px;
	    	text-transform: uppercase;
		}
		.team-sicon {
			padding: 0;
			display: block;
			position: relative;
			z-index: 33;
			li {
				display: inline-block;
				text-align: center;
				a {
					background-color: $color-white;
					color: $primary-color;
					padding-left: 0;
					display: block;
					border: 1px solid $primary-color;
					border-radius: 50%;
					margin: 5px;
					&:hover {
						color: $color-white;
						background-color: $primary-color;
					}
					i {
						border-radius: 50%;
						height: 35px;
						line-height: 35px;
						margin: auto;
						text-align: center;
						width: 35px;
					}
				}
			}
		}
	}

	.port-box {
		padding: 50% 0;
		text-align: center;
	}
	.port-img {
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;

	}
	&:hover{
		.port-box{
			background-color: #000000;
    		opacity: 0.3;

		}
	};
}

