

/** Search icon **/
.admin-bar {
	.is-sticky {
		.stuck-nav {
			margin-top: 32px;
		}
	}
	.custom-absolute-menu {
		margin-top: 32px;
	}
	.custom-fixed-menu {
		margin-top: 32px;
	}
	.abs-header {
		margin-top: 32px;
	}
}
.is-sticky, .white-header{
	.header-top{
		display: none;
	}

}

	.header-top{
		background: #222;
		h6{
			display: inline-block;
			color:#ccc;
			font-size: 12px;
			margin-right:40px;
			i{
				margin-right: 10px;
				color:#75dab4;
			} 
			a{
				color:#ccc;
			}
			&:hover{
				color:#fff;
				a{
					color:#fff;
				}
			}

		}
	}

.header {
	left: 0;
	top: 0;
	width: 100%;
	position: absolute;
	z-index: 999;
}
.header.not-custom-menu .logo-d-mode{
	display: initial; 
}
.header.not-custom-menu .logo-d-mode{
	display: none; 
}
.elementor-editor-active {
	.header {
		pointer-events: none;
	}
	.abs-header {
		margin-top: 25px;
	}
	.custom-absolute-menu {
		position: relative;
	}
	.custom-fixed-menu {
		position: relative;
	}
	.not-custom-menu.custom-absolute-menu {
		position: absolute;
		top: 25px;
	}
}


.white-header {
	position: relative;
	background: #fff;
	box-shadow: 0 0 5px 0 #eee;
	
	.is-sticky {
		.stuck-nav {
			background: #fff;
			box-shadow: 0 0 5px 0 #eee;
		}
	}
	.hamburger__icon {
		background: #1f1f1f;
		background: #1f1f1f;
		background: #1f1f1f;
		&::before {
			background: #1f1f1f;
			background: #1f1f1f;
			background: #1f1f1f;
		}
		&::after {
			background: #1f1f1f;
			background: #1f1f1f;
			background: #1f1f1f;
		}
	}
	.header-icon {
		li {
			a {
				color: $color-black;
			}
		}
		li.current-menu-parent {
			>a {
				color: $primary-color;
			}
		}
		li.current_page_item {
			>a {
				color: $primary-color;
			}
		}
	}
	.navigation {
		li {
			a {
				color: $color_3; 
				&:hover {
					color: $primary-color;
					opacity: 1;
				}
			}
		}
		li.current-menu-parent {
			>a {
				color: $primary-color;
			}
		}
		li.current_page_item {
			>a {
				color: $primary-color;
			}
		}
	}
	.menu-wrapper {
		.menu {
			ul {
				li {
					a {
						color: $color_3; 
					}
					ul {
						li {
							a {
								color: $gray-dark;
								font-size: 12px;
								line-height: 1.8;
								padding: 15px 20px 0 25px;
								&:hover {
									color: $primary-color;
								}
							}
						}
						li.current_page_item {
							>a {
								color: $primary-color;
							}
						}
					}
				}
				li.current-menu-parent {
					>a {
						color: $primary-color;
					}
				}
				li.current_page_item {
					>a {
						color: $primary-color;
					}
				}
			}
		}
		.navigation {
			li {
				ul {
					li {
						a {
							color: $gray-dark;
							font-size: 12px;
							line-height: 1.8;
							padding: 15px 20px 0 25px;
							&:hover {
								color: $primary-color;
							}
						}
					}
					li.current_page_item {
						>a {
							color: $primary-color;
						}
					}
				}
			}
		}
	}
}
.no-bg {
	background: transparent;
}
.avo-custom-header {
	.navigation {
		position: relative;
		z-index: 999;
	}
}
.apply-header {
	.menu-wrapper {
		border: none;
	}
	.is-sticky {
		.menu-wrapper {
			border: none;
		}
	}
	.menu-btn {
		margin: 19px 0;
	}
	.logo1 {
		height: 25px;
	}
	.avo-logo-light{
		display: none;
	}
}
.logo {
	padding: 60px 0;
	display: block;
	text-align: center;
}
.top-logo {
	display: table-cell;
	vertical-align: middle;
	>a {
		display: inline-block;
		padding: 3px 0;
	}
}

.menu-wrapper {
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	
	.menu {
		ul {
			li {
				display: inline-block;
				position: relative;
				a {
					color: $color-black;
					display: block;
					font-size: 12px;
					padding: 25px 18px;
					transition: .20s linear;
					letter-spacing: 1px;
					font-weight: 400;
				}
				ul {
					li {
						a {
							color: $gray-dark;
							font-size: 12px;
							line-height: 1.8;
							padding: 15px 20px 0 25px;
							&:hover {
								color: $primary-color;
							}
						}
					}
					li.current_page_item {
						>a {
							color: $primary-color;
						}
					}
				}
			}
			li.menu-item-has-children {
				>a {
					&:after {
						display: inline-block;
						content: "\f107";
						font-family: $iconFont;
						position: absolute;
						top: 50%;
						right: 3px;
						transform: translateY(-50%);
					}
				}
				li.menu-item-has-children { 
					>a {
						&:after {
							display: inline-block;
							content: "\f107";
							font-family: $iconFont;
							position: absolute;
							top: 42%;
							right: 163px;
							font-weight: bolder;
							transform: rotate(90deg);
							color: $color-white;
						}
					}
				}
			}
			ul {
				li {
					display: block;
					position: relative;
				}
			}
		}
	}
	>.menu {
		>ul {
			>li {
				>a {
					&:before {
						background: #75dab4;
						border-radius: 0;
						bottom: 25px;
						content: "";
						height: 1px;
						position: absolute;
						transform: scaleX(0);
						transition: .20s linear;
						visibility: hidden;
						width: 50%;
						background: #fff;
						background: #75dab4;
					}
					&:hover {
						&:before {
							visibility: visible;
							transform: scaleX(1);
						}
					}
				}
			}
		}
	}
	.navigation {
		.menu-item-has-children {
			li {
				display: block;
			}
		}
		li {
			ul {
				li {
					a {
						color: $gray-dark;
						font-size: 12px;
						line-height: 1.8;
						padding: 15px 20px 0 25px;
						&:hover {
							color: $primary-color;
						}
					}
				}
				li.current_page_item {
					>a {
						color: $primary-color;
					}
				}
			}
		}
	}
	ul {
		li {
			ul {
				background: #fff;
				left: 18px;
				line-height: 1;
				list-style: outside none none;
				margin: 0;
				padding: 0;
				position: absolute;
				text-align: left;
				top: 100%;
				width: 185px;
				z-index: 999;
				-webkit-box-shadow: 0px 2px 14px 2px rgba(0,0,0,.1);
				box-shadow: 0px 2px 14px 2px rgba(0,0,0,.1);
				border-top: 2px solid #75dab4;
				li {
					ul {
						left: -100%;
						top: 16px;
					}
				}
			}
		}
		>li {
			>ul {
				display: none;
				padding-bottom: 15px;
			}
		}
	}
	>ul {
		>li {
			&:last-child {
				ul {
					left: auto;
					right: 0;
				}
			}
		}
	}
}
.header-wrapper {
	display: table-cell;
	vertical-align: middle;
	text-align: right;
}
.container-fluid {
	display: table;
	padding-left: 60px;
	padding-right: 60px;
	width: 100%;
}
.container {
	display: table;
}
.blog-wrapper {
	.container {
		display: inherit;
	}
}
.navigation {
	display: block;
	font-size: 0;
	list-style: outside none none;
	margin: 0;
	padding: 0;
	width: 100%;
	li {
		display: inline-block;
		position: relative;
		a {
			color: $color-black;
			display: block;
			font-size: 12px;
			padding: 25px 18px;
			transition: .20s linear;
			letter-spacing: 1px;
			font-weight: 500;
			&:hover {
				opacity: .8;
			}
		}
	}
	li.menu-item-has-children {
		>a {
			&:after {
				display: inline-block;
				content: "\f107";
				font-family: $iconFont;
				position: absolute;
				top: 50%;
				padding-left: 3px;
				transform: translateY(-50%);
			}
		}
		li.menu-item-has-children {
			>a {
				&:after {
					display: inline-block;
					content: "\f107";
					font-family: $iconFont;
					position: absolute;
					top: 42%;
					right: 163px;
					font-weight: bolder;
					transform: rotate(90deg);
					color: $color-white;
				}
			}
		}
	}
	>li.sfHover {
		>a {
			&:before {
				background-color: #75dab4;
				border-radius: 0;
				bottom: 25px;
				content: "";
				height: 1px;
				position: absolute;
				transform: scaleX(1);
				transition: .20s linear;
				visibility: visible;
				width: 40px;
			}
		}
	}
	.current {
		>a {
			opacity: 1;
		}
	}
	ul {
		li {
			display: block;
			position: relative;
		}
	}
}
.custom-absolute-menu .stuck-nav>.container-fluid{
	border-bottom: 1px solid #ffffff3d;
}

.custom-absolute-menu {
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 999;
	border-color: $primary-color;
	.logo-white {
		display: none;
	}
	.is-sticky {
		.logo-white {
			display: initial;
		}
		.logo-dark {
			display: none;
		}
		.search-icon-header {
			a {
				i {
					color: $color-black;
				}
			}
		}
		.cart-contents {
			&:before {
				color: $color-black;
			}
		}
		.navigation {
			li {
				a {
					color: $gray-dark;
					&:hover {
						color: $primary-color;
						opacity: 1;
					}
				}
			}
			li.current-menu-item {
				a {
					color: $primary-color;
				}
			}
			>li {
				>a {
					&:before {
						background: #75dab4;
					}
				}
			}
		}
		.menu-wrapper {
			.menu {
				ul {
					li {
						a {
							color: $gray-dark;
							&:hover {
								color: $primary-color;
								opacity: 1;
							}
						}
					}
					li.current-menu-item {
						a {
							color: $primary-color;
						}
					}
				}
			}
		}
		.header-icon {
			li {
				a {
					color: $color-black;
				}
			}
		}
	}
	.logo-dark {
		display: initial;
	}
	.search-icon-header {
		a {
			i {
				color: $color-white;
			}
		}
		a.search {
			&:after {
				background: #ede3e385;
			}
		}
	}
	.cart-contents {
		&:before {
			color: $color-white;
		}
	}
	.navigation {
		li {
			a {
				color: $color-white;
			}
		}
		.sub-menu {
			li {
				a {
					color: $gray-dark;
					&:hover {
						color: $primary-color;
						opacity: 1;
					}
				}
			}
			li.current-menu-item {
				a {
					color: $primary-color;
				}
			}
		}
		>li {
			>a {
				&:before {
					background: #fff;
				}
			}
		}
	}
	.menu-wrapper {
		
		.menu {
			ul {
				li {
					a {
						color: $color-white;
					}
				}
			}
			ul.sub-menu {
				li {
					a {
						color: $gray-dark;
						&:hover {
							color: $primary-color;
							opacity: 1;
						}
					}
				}
				li.current-menu-item {
					a {
						color: $primary-color;
					}
				}
			}
		}
	}
	.header-icon {
		li {
			a {
				color: $color-white;
			}
		}
	}
}
.stuck-nav {
	transition: ease .3s !important;
	-moz-transition: ease .3s;
	-ms-transition: ease .3s;
	-o-transition: ease .3s;
	-webkit-transition: ease .3s;
	left: 0;
	top: 0;
	width: 100% !important;
	z-index: 999;
}
.custom-fixed-menu {
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 999;
}
.elementor-editor-preview {
	.custom-absolute-menu {
		position: relative;
	}
	.custom-fixed-menu {
		position: relative;
	}
	.not-custom-menu.custom-absolute-menu {
		position: absolute;
	}
}
.sticky-wrapper {
	z-index: 999;
}

.is-sticky {
	.stuck-nav {
		background: #fff;
		box-shadow: 0 0 5px 0 rgba(0,0,0,0.2);
	}
}
.menu-wrapper.avo-right-menu {
	ul {
		li {
			ul {
				left: auto;
				right: 0;
				li {
					ul {
						left: auto;
						right: 100%;
						top: 0;
					}
				}
			}
		}
	}
}
.mobile-wrapper {
	float: right;
}

.mobile-menu {
	background: none repeat scroll 0 0 #ffffff;
	display: block;
	height: 0;
	list-style: none outside none;
	margin: 0;
	max-height: 480px;
	overflow-y: auto;
	overflow: hidden;
	padding: 0;
	position: absolute;
	right: 0;
	text-align: center;
	top: 100%;
	width: 100%;
	z-index: 3;
	li {
		a {
			border-top: none;
			display: block;
			font-size: 11px;
			padding: 8px 15px;
			text-decoration: none;
			text-transform: uppercase;
		}
	}
}
.mobile-menu.in {
	border: 1px solid #EEEEEE;
	height: auto;
	max-height: 480px;
	overflow-x: hidden;
	overflow-y: auto;
}
.menu-btn {
	color: $color-white;
	cursor: pointer;
	font-size: 18px;
	height: 30px;
	line-height: 30px;
	margin: 11px 0;
	text-align: center;
	width: 30px;
	z-index: 3;
}
.not-custom-menu.custom-absolute-menu {
	.nav-box {
		margin-top: 0;
	}
}
.custom-logo {
	.custom-logo-dark{
		display: initial;
	}
	.custom-logo-light{
		display: none;
	}
	.logo1 {
		max-height: 25px;
	}
	a {
		display: inline-block;
	}
}


.avo-sticky-menu {
	z-index: 999 !important;
}
.elementor-element-edit-mode.stuck-nav {
	z-index: 0;
}
.header-icon {
	display: block;
	float: right;
	list-style: none;
	margin-left: 20px;
	padding: 0;
	text-align: right;
	li {
		display: inline-block;
		vertical-align: middle;
		a {
			display: block;
			padding: 24px 0 18px 0;
			text-align: center;
			width: 30px;
			i {
				opacity: 0.8;
				border-radius: 50%;
				height: 35px;
				line-height: 30px;
				margin: auto;
				text-align: center;
				width: 35px;
				font-family: "FontAwesome";
			}
			&:hover {
				color: $primary-color;
				opacity: 1;
			}
		}
	}
}
.margin-bottom {
	margin-bottom: 80px;
}
.margin-top {
	margin-top: 80px;
}
.padding-top {
	padding-top: 80px;
}
.mobile-wrapper.avo-menu-element {
	display: inline-block;
	float: none;
	padding: 0;
	vertical-align: text-top;
}
.avo-menu-element {
	.hamburger {
		height: 20px;
		padding: 0;
	}
}
.cart_search_block {
	padding: 0;
	margin: 0;
	float: left;
	display: inline-block;
	>li {
		padding: 18px;
		float: left;
		-webkit-transition: all .4s ease-in-out;
		-moz-transition: all .4s ease-in-out;
		transition: all .4s ease-in-out;
		position: relative;
	}
}
.btn-nav-top {
	float: right;
	margin-left: 22px;
	position: relative;
	a {
		color: $color-white;
		padding: 12px 20px;
		background: #75dab4;
		font-weight: 500;
		text-transform: uppercase;
		line-height: 24px;
		font-size: 12px;
		letter-spacing: .8px;
		border-radius: 50px;
		-webkit-transition: all .5s;
		-o-transition: all .5s;
		transition: all .5s;
		border: 1px solid #75dab4;
		&:hover {
			color: $primary-color;
			background: #fff;
			border-color: $primary-color;
		}
	}
}




.search-icon-header {
	float: right;
	margin-left: 30px;
	margin-left: 30px;
	position: relative;
	top: 25px;
	a.search {
		font-size: 16px;
		position: relative;
		&:after {
			width: 1px;
			height: 30px;
			content: "";
			position: absolute !important;
			bottom: -5px;
			left: -22px;
			z-index: 0;
			margin: auto;
			background: #999;
			cursor: initial;
		}
	}
	a.cart-contents {
		font-size: 14px;
		position: relative;
		left: 20px;
	}
	a {
		i {
			color: $color-black;
		}
	}
	.close-black-block {
		a {
			i {
				color: $color-white;
			}
			i.fa-times {
				color: $color-white;
			}
			&:after {
				display: none;
			}
		}
	}
	.searchform {
		input[type=search] {
			font-style: italic;
			font-size: 16px;
			height: 56px;
		}
		.searchsubmit {
			background: transparent;
		}
		&::after {
			background: #75dab4;
			color: $color-white !important;
			right: 0;
			height: 56px;
			line-height: 56px;
			width: 56px;
			font-size: 2rem;
		}
		&:hover {
			&::after {
				opacity: 0.7;
			}
		}
	}
}
.black-search-block {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
	opacity: 0;
	background: rgba(0, 0, 0, 0.9);
	visibility: hidden;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all 0.25s linear;
	-moz-transition: all 0.25s linear;
	-ms-transition: all 0.25s linear;
	-o-transition: all 0.25s linear;
	transition: all 0.25s linear;
	z-index: -1;
}
.search-icon-header.open {
	.black-search-block {
		opacity: 1;
		visibility: visible;
		-webkit-transition: all 0.25s linear;
		-moz-transition: all 0.25s linear;
		-ms-transition: all 0.25s linear;
		-o-transition: all 0.25s linear;
		transition: all 0.25s linear;
		z-index: 9999999;
	}
	.black-search-table-cell {
		div {
			top: 0px;
			opacity: 1;
			-webkit-transition: all 0.25s linear;
			transition: all 0.25s linear;
			-webkit-transition-delay: 150ms;
			transition-delay: 150ms;
		}
	}
}
.black-search-table {
	display: table;
	width: 100%;
	height: 100%;
}
.black-search-table-cell {
	display: table-cell;
	vertical-align: middle;
	width: 100%;
	height: 100%;
	text-align: center;
	div {
		width: 50%;
		position: relative;
		display: inline-block;
		top: 50px;
		opacity: 0;
		-webkit-transition: all 0.25s linear;
		transition: all 0.25s linear;
		-webkit-transition-delay: 150ms;
		transition-delay: 150ms;
		input[name="s"] {
			background: #fff;
			padding: 15px 50px 15px 15px !important;
			border: none;
			font-size: 20px;
			width: 100%;
			border-bottom: 1px solid #fff;
			font-weight: 400;
		}
	}
	.searchsubmit {
		border: none;
		background: 0;
		outline: 0;
		width: auto;
		cursor: pointer;
		color: $gray-dark;
		padding: 0;
		position: absolute;
		right: 0;
		width: 40px;
		height: 40px;
		top: 21px;
		z-index: 99999;
		text-align: center;
	}
}
.close-black-block {
	font-size: 30px;
	color: $color-white;
	position: absolute;
	top: 20px;
	right: 50px;
	i {
		font-size: 30px;
		color: $color-white;
	}
}




