.cart-contents:before {
    font-family: WooCommerce;
    content: "\e01d";
    font-size: 22px;
    margin-top: 10px;
    font-style: normal;
    font-weight: 400;
    vertical-align: bottom;
    color: #000;
}
.cart-contents:hover {
    text-decoration: none;
}
.cart-contents-count {
color: #fff;
    background-color: #75dab4;
    border-radius: 10px;
    padding: 1px 6px;
    line-height: 1;
    vertical-align: top;
    font-size: 1rem;
    position: relative;
    left: -6px;
}

/*----------------------------------------*/

@-webkit-keyframes "rotating" {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes "rotating" {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.shop-content {
    margin-bottom: -80px;
    section.related {
        h2 {
            font-size: 1.83333rem;
            line-height: 1.27273;
        }
    }
}
.woocommerce-info {
    border-color: $color-black;
    background-color: $no_color;
    line-height: 4.16667rem;
    color: $color-black;
    padding: 1.5rem 2rem;
    margin-bottom: 2.66667rem;
    border: 1px solid #000000;
    border-color: rgba(0,0,0,.1);
    a {
        color: $primary-color;
    }
    &::before {
        display: none;
    }
}
.woocommerce-message {
    border-color: $color-black;
    background-color: $no_color;
    line-height: 4.16667rem;
    color: $color-black;
    padding: 1.5rem 2rem;
    margin-bottom: 2.66667rem;
    border: 1px solid #000000;
    &::before {
        display: none;
    }
}
.woocommerce {
    textarea {
        resize: none;
        height: 16.66667rem !important;
    }
    table {
        margin: 0 0 1.5rem 0 !important;
        width: 100%;
        empty-cells: show;
        border-collapse: collapse !important;
        border-spacing: 0;
        border: 1px solid rgba(0,0,0,.1) !important;
        border-radius: 0 !important;
        box-shadow: 7px 6px 30px rgba(0,0,0,0.02);
        td {
            img {
                width: 6.66667rem !important;
                width: 6.66667rem !important;
            }
            padding: 1.33333rem !important;
            border-left: 0;
            background-color: $no_color !important;
            border-top: none !important;
            font-size: 1.5rem;
            border-bottom: 1px solid rgba(0,0,0,.1);
        }
        th {
            padding: 1.33333rem !important;
            border-left: 0;
            background-color: $no_color !important;
            border-top: none !important;
            font-size: 1.5rem;
            border-bottom: 1px solid rgba(0,0,0,.1);
            font-weight: 600 !important;
            text-align: left;
        }
        td.product-remove {
            a {
                font-size: 1.33333rem;
                font-weight: 500;
                color: $color-black !important;
                margin: auto;
                -webkit-box-shadow: none;
                box-shadow: none;
                &:hover {
                    color: $primary-color !important;
                    background-color: $no_color !important;
                }
            }
        }
        td.product-thumbnail {
            text-align: left !important;
            min-width: 32px;
            a {
                -webkit-box-shadow: none;
                box-shadow: none;
            }
        }
        td.product-price {
            text-align: left;
        }
        td.product-subtotal {
            text-align: left;
        }
        td.product-quantity {
            .quantity {
                input {
                    width: 100%;
                    max-width: 7.91667rem;
                    line-height: 2;
                    margin-left: auto;
                }
            }
        }
        td.actions {
            .coupon {
                input {
                    width: 12.5rem !important;
                    margin-right: 15px !important;
                    padding-left: 1rem !important;
                }
            }
        }
        tr.shipping {
            td {
                label {
                    color: $color_8;
                    span {
                        color: $color_8;
                    }
                }
            }
        }
        tr {
            .product-total {
                text-align: right;
            }
            td {
                text-align: right; 
                &.woocommerce-grouped-product-list-item__label,&.woocommerce-grouped-product-list-item__price{
                    text-align: left;
                }
            }
            .product-name {
                text-align: left;
            }
        }
        tfoot {
            tr {
                &:last-child {
                    th {
                        font-size: 1.5rem;
                        color: $color-black;
                    }
                    td {
                        font-size: 1.5rem;
                        color: $color-black;
                    }
                }
            }
        }
    }
    .woocommerce-cart-form {
        margin-bottom: 6.83333rem;
        table {
            td {
                &::before {
                    color: $color-black;
                    font-weight: 600;
                }
            }
            .actions {
                .coupon {
                    #coupon_code {
                        font-size: 1.16667rem;
                        line-height: 1.85714;
                        color: $color-black;
                        border: 1px solid #000000;
                        padding: 0.83333rem 1.5rem;
                        width: 15rem !important;
                        text-align: center;
                        font-size: 1.25rem;
                    }
                }
            }
        }
    }
    .cart-collaterals {
        .cart_totals {
            float: none;
            width: 100%;
            h2 {
                font-size: 1.83333rem;
                line-height: 1.27273;
            }
            table {
                border-collapse: separate !important;
                padding: 0.66667rem 2.33333rem;
                margin-bottom: 2.66667rem !important;
                th {
                    color: $color-black;
                    padding-left: 0 !important;
                    text-align: left;
                }
                .order-total {
                    th {
                        font-size: 1.5rem;
                    }
                }
                td {
                    text-align: right;
                    padding-right: 0 !important;
                }
                td[data-title='Total'] {
                    span {
                        font-size: 1.5rem;
                    }
                }
                tr {
                    &:last-child {
                        th {
                            border-bottom: 0;
                        }
                        td {
                            border-bottom: 0;
                        }
                    }
                }
            }
            .wc-proceed-to-checkout {
                padding: 0;
                text-align: right;
                a {
                    margin-bottom: 0;
                    display: inline-block;
                }
            }
        }
    }
    .button {
        font-family: $bodyFont !important;
        line-height: 1 !important;
        cursor: pointer !important;
        border: 1px solid !important;
        border-radius: 0 !important;
        -webkit-transition: background-color cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.15s, border-color cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.15s, color cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.15s !important;
        -o-transition: background-color cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.15s, border-color cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.15s, color cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.15s !important;
        transition: background-color cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.15s, border-color cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.15s, color cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.15s !important;
        font-size: 1.25rem !important;
        padding: 1.33333rem 3.66667rem !important;
        background-color: $no_color !important;
        font-weight: 500 !important;
        line-height: 1 !important;
        cursor: pointer !important;
        border: 1px solid !important;
        border-radius: 0 !important;
        -webkit-transition: background-color cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.15s, border-color cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.15s, color cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.15s !important;
        -o-transition: background-color cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.15s, border-color cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.15s, color cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.15s !important;
        transition: background-color cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.15s, border-color cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.15s, color cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.15s !important;
        padding: 1.33333rem 3.66667rem !important;
        color: $color-black !important;
        border-color: $color-black !important;
        background-color: $no_color !important;
        font-weight: 500 !important;
        &:hover {
            color: $color-white !important;
            background-color: $color-black !important;
            border-color: $color-black !important;
            color: $color-white !important;
            background-color: $primary-color !important;
            border-color: $primary-color !important;
        }
    }
    .quantity {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        position: relative;
        input[type='number'] {
            padding: 0.91667rem 3rem 0.91667rem 0.83333rem !important;
            -moz-appearance: textfield;
            width: 7.5rem;
            padding: 1.08333rem 2.33333rem 1.08333rem .83333rem;
            font-weight: 600;
            color: $color_8;
            border-radius: 1px;
            line-height: 1.66667;
            &::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }
            &::-webkit-outer-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }
        }
        .quantity-nav {
            position: absolute;
            right: 1px;
            top: 0;
            height: 100%;
            .quantity-button {
                cursor: pointer;
                border-left: 1px solid #333;
                width: 25px;
                text-align: center;
                color: $color-black;
                font-weight: 600;
                font-size: 1.33333rem;
                -webkit-transform: translateX(-100%);
                -ms-transform: translateX(-100%);
                transform: translateX(-100%);
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
                -webkit-transition: background-color cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.15s;
                -o-transition: background-color cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.15s;
                transition: background-color cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.15s;
                &:hover {
                    background-color: $color-black;
                    color: $color-white;
                }
            }
            .quantity-button.quantity-up {
                position: absolute;
                height: 50%;
                top: 0;
                border: 1px solid #333;
                line-height: 1.6;
            }
            .quantity-button.quantity-down {
                position: absolute;
                bottom: 0;
                height: 50%;
                border: 1px solid #333;
                border-top: none;
                line-height: 1.8;
            }
        }
    }
    .woocommerce-cart-form__cart-item {
        .product-quantity {
            .quantity-nav {
                position: static;
            }
        }
    }
    div.product {
        form.cart {
            div.quantity {
                margin-right: 15px;
                float: left !important;
            }
            .button {
                vertical-align: middle;
                float: left;
                background: #f96152;
                font-weight: 300;
                border-radius: 1px;
                line-height: 28px;
            }
        }
        div.images {
            .flex-control-thumbs {
                margin-left: -5px;
                margin-right: -5px;
                li {
                    padding: 5px;
                    padding-bottom: 10px;
                    img {
                        cursor: pointer;
                        opacity: .8;
                        margin: 0;
                        border: 1px solid #eee;
                    }
                }
            }
        }
        p.price {
            color: $primary-color;
        }
        span.price {
            color: $primary-color;
        }
    }
    form {
        .form-row {
            padding: 0;
            margin-bottom: 1.6rem;
        }
        input {
            border-radius: 0;
            border-color: $gray-dark;
            border-width: 1px;
            padding: 1.16667rem;
        }
        textarea {
            border-radius: 0;
            border-color: $gray-dark;
            border-width: 1px;
            padding: 1.08333rem 1.33333rem;
        }
    }
    strong {
        font-weight: 300;
    }
    .m-product-summary {
        button {
            font-size: 1.25rem !important;
            padding: 1.33333rem 3.66667rem !important;
            color: $color-black !important;
            border-color: $color-black !important;
            background-color: $no_color !important;
        }
        .quantity {
            margin-right: 1.33333rem !important;
        }
    }
    ul.products { 
        li.product {
            .price {
                color: #888;
                font-size: 14px;
                ins{
                    font-weight: 400;
                    margin-left: 10px;
                }
            }
            a {
                img {
                    &:hover {
                        opacity: 0.7;
                    }
                }
            }
        }
    }
    a.added_to_cart {
        display: none;
    }
    span.onsale {
        background-color: $primary-color;
        line-height: 2.65;
    }
    .woocommerce-tabs {
        margin-bottom: 2.66667rem;
        ul.tabs {
            padding: 0 !important;
            margin: 0 !important;
            &::before {
                display: none !important;
            }
            li {
                position: relative;
                z-index: 1;
                padding: 0 !important;
                margin: 0 0 0 1.33333rem !important;
                border: 0 !important;
                border-radius: 0 !important;
                background-color: $no_color !important;
                &::before {
                    display: none !important;
                }
                &::after {
                    display: none !important;
                }
                &:first-child {
                    margin-left: 0 !important;
                    a {
                        padding-left: 0 !important;
                    }
                }
                a {
                    font-family: $bodyFont;
                    color: $color-black !important;
                    font-size: 1.33333rem;
                    font-weight: 400 !important;
                    line-height: 1;
                    padding: 0 1.5rem 1.83333rem 1.5rem !important;
                    border-bottom: 2px solid transparent;
                    -webkit-transition: color cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.15s, border-color cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.15s;
                    -o-transition: color cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.15s, border-color cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.15s;
                    transition: color cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.15s, border-color cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.15s;
                }
            }
            li.active {
                a {
                    color: $primary-color !important;
                }
            }
        }
        .woocommerce-Tabs-panel {
            margin-top: -2px !important;
            margin-bottom: 0 !important;
            padding: 3.66667rem 0 !important;
            border-top: 2px solid #000000;
            
            h2 {
                font-size: 1.83333rem;
                line-height: 1.27273;
                margin-top: 0;
            }
            >* {
                &:last-child {
                    margin-bottom: 0 !important;
                }
            }
            .woocommerce-Reviews {
                #comments {
                    margin-bottom: 2.66667rem;
                    .woocommerce-Reviews-title {
                        span {
                            color: $primary-color;
                        }
                    }
                    .commentlist {
                        padding-left: 0;
                        .comment {
                            margin-bottom: 2.66667rem !important;
                            .comment_container {
                                img.avatar {
                                    padding: 0 !important;
                                    background-color: $no_color !important;
                                    width: 4.5rem !important;
                                    border: 1px solid #e5e5e5 !important;
                                    border-radius: 50%;
                                }
                                .comment-text {
                                    padding: 0 !important;
                                    margin-left: 7rem !important;
                                    border: 0 !important;
                                    .star-rating {
                                        color: $primary-color;
                                    }
                                    .meta {
                                        .woocommerce-review__author {
                                            font-size: 1.83333rem;
                                            line-height: 1.27273;
                                            margin-bottom: 0.5rem;
                                            display: block;
                                        }
                                        .woocommerce-review__dash {
                                            display: none;
                                        }
                                        .woocommerce-review__published-date {
                                            font-size: 1rem;
                                        }
                                    }
                                    .description {
                                        * {
                                            &:last-child {
                                                margin-bottom: 0 !important;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                #review_form_wrapper {
                    #review_form {
                        .comment-reply-title {
                            display: inline-block;
                            margin-bottom: 2.66667rem;
                            font-weight: 600;
                            color: $color-black;
                            margin-bottom: 2.66667rem;
                            font-size: 1.83333rem;
                            line-height: 1.27273;
                        }
                    }
                    .comment-form {
                        .comment-form-rating {
                            label {
                                font-weight: 500;
                                color: $color-black;
                                margin-bottom: 1.33333rem;
                            }
                            .stars {
                                a {
                                    -webkit-box-shadow: none;
                                    box-shadow: none;
                                }
                            }
                        }
                        input {
                            width: 100%;
                        }
                        .form-submit {
                            margin-bottom: 0;
                            input {
                                font-family: $bodyFont !important;
                                line-height: 1 !important;
                                cursor: pointer !important;
                                border: 2px solid !important;
                                border-radius: 0 !important;
                                -webkit-transition: background-color cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.15s, border-color cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.15s, color cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.15s !important;
                                -o-transition: background-color cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.15s, border-color cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.15s, color cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.15s !important;
                                transition: background-color cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.15s, border-color cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.15s, color cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.15s !important;
                                color: $color-black !important;
                                border-color: $color-black !important;
                                background-color: $no_color !important;
                                font-size: 1.25rem !important;
                                padding: 1.33333rem 3.66667rem !important;
                                font-weight: 500 !important;
                                width: auto;
                                &:hover {
                                    color: $color-white !important;
                                    background-color: $color-black !important;
                                    border-color: $color-black !important;
                                }
                            }
                        }
                    }
                }
            }
        }
        .woocommerce-Tabs-panel.woocommerce-Tabs-panel--additional_information {
            table {
                border: 0 !important;
                tr {
                    display: block;
                    margin-bottom: 1.33333rem;
                    th {
                        font-family: $bodyFont;
                        font-weight: 500 !important;
                        font-size: 1.33333rem;
                        color: $color-black;
                        text-align: left;
                        border-bottom: 0;
                        padding: 0 !important;
                        font-style: normal;
                        border: none;
                    }
                    td {
                        text-align: left;
                        border-bottom: 0;
                        padding: 0 !important;
                        font-style: normal;
                        font-weight: 400;
                        border: none;
                        * {
                            padding: 0;
                        }
                    }
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
    .woocommerce-breadcrumb {
        margin: 0 0 2em;
    }
    img.footer-img {
        max-width: 150px;
    }
}
.woocommerce-error {
    background-color: $no_color;
    line-height: 4.16667rem;
    color: $color-black;
    padding: 1.5rem 2rem;
    margin-bottom: 2.66667rem;
    border: 1px solid #000000;
}
.select2 {
    .selection {
        .select2-selection {
            border-width: 1px;
            border-color: $color-black !important;
            border-radius: 0 !important;
            -webkit-transition: border-color cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.15s;
            -o-transition: border-color cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.15s;
            transition: border-color cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.15s;
            height: auto;
            .select2-selection__rendered {
                color: #888;
                min-height: 3.16667rem;
                padding: 1.16667rem;
                text-align: left;
                font-size: 15px;
                line-height: normal;
            }
        }
    }
}
.select2-container--default {
    .select2-selection--single {
        background-color: $color-white;
        border: 1px solid #aaa;
        border-radius: 4px;
    }
}
.portfolio-2 {
    .port-inner {
        .port-dbox {
            a.added_to_cart {
                display: none;
            }
            a.added {
                span.button__cart {
                    display: none;
                }
                span.button__added {
                    opacity: 1;
                    display: flex;
                }
            }
            a.loading {
                span.button__cart {
                    display: none;
                }
                span.button__loader {
                    display: flex;
                }
            }
            a {
                span.button__cart {
                    opacity: .25;
                    display: flex;
                }
                span.button__loader {
                    display: none;
                }
                span.button__added {
                    opacity: 0;
                    display: none;
                }
            }
        }
    }
}
.port-inner {
    .port-dbox {
        a {
            span {
                svg {
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    width: 22px;
                    height: 22px;
                    stroke: #000000;
                    &:hover {
                        stroke: #f96152;
                    }
                }
            }
        }
    }
}
.woocommerce-account {
    .woocommerce {
        .woocommerce-MyAccount-content {
            .woocommerce-orders-table {
                tr {
                    td {
                        a.button {
                            font-size: 1.25rem;
                            padding: 1.33333rem 3.66667rem;
                            font-weight: 500 !important;
                        }
                        text-align: left;
                    }
                }
            }
            .woocommerce-table--order-downloads {
                tr {
                    td {
                        a.button {
                            font-size: 1.25rem;
                            padding: 1.33333rem 3.66667rem;
                            font-weight: 500 !important;
                        }
                        text-align: left;
                    }
                }
            }
            a {
                color: $primary-color;
            }
            float: left;
        }
        .woocommerce-MyAccount-navigation {
            ul {
                padding: 0;
                margin-bottom: 2.66667rem;
                li {
                    list-style: none;
                    padding-bottom: 1.33333rem;
                    border-bottom: 1px solid #000000;
                    margin-bottom: 1.5rem;
                    &:last-child {
                        margin-bottom: 0;
                    }
                    a {
                        color: $color-black;
                        display: -webkit-box;
                        display: -ms-flexbox;
                        display: flex;
                        -webkit-box-shadow: none;
                        box-shadow: none;
                        &:hover {
                            color: $primary-color;
                        }
                    }
                }
            }
        }
    }
    .addresses {
        .title {
            h3 {
                font-size: 1.83333rem;
                line-height: 1.27273;
            }
        }
    }
}
.woocommerce-checkout {
    .col2-set {
        width: auto;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;
        .col-1 {
            position: relative;
            width: 100%;
            padding-right: 15px;
            padding-left: 15px;
            -webkit-box-flex: 0;
            -ms-flex: 0 0 100%;
            flex: 0 0 100%;
            max-width: 100%;
        }
        .col-2 {
            position: relative;
            width: 100%;
            padding-right: 15px;
            padding-left: 15px;
            -webkit-box-flex: 0;
            -ms-flex: 0 0 100%;
            flex: 0 0 100%;
            max-width: 100%;
        }
    }
    .woocommerce-form-coupon-toggle {
        .woocommerce-info {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            .showcoupon {
                margin-left: auto;
            }
        }
    }
    .checkout_coupon {
        border-radius: 0 !important;
        border-width: 1px !important;
        border-color: $color-black !important;

        input.input-text{
            border-color: rgba(0, 0, 0, 0.1);

        }
        button.button{
            padding: 1.66667rem 3.66667rem !important;
            text-transform: uppercase;
            &:hover{
                background-color: $primary_color !important;

            }
        }
    }
    .woocommerce-billing-fields {
        margin-bottom: 2.66667rem;
        h3 {
            font-size: 2.3rem;
            line-height: 1.2;
        }
        h2 {
            font-size: 1.83333rem;
            line-height: 1.27273;
        }
    }
    .woocommerce-shipping-fields {
        .ship-to-different-address {
            font-size: 1.83333rem;
            line-height: 1.27273;
        }
    }
    .woocommerce-additional-fields {
        margin-bottom: 5.33333rem;
        h3 {
            font-size: 2.5rem;
            line-height: 1.2;
        }
    }
    .form-row {
        padding: 0;
        margin-bottom: 1.33333rem;
    }
    #order_review_heading {
        font-size: 1.83333rem;
        line-height: 1.27273;
    }
    .woocommerce-checkout-review-order {
        table {
            margin: 0 0 1.5rem 0 !important;
            width: 100%;
            empty-cells: show;
            border-collapse: collapse !important;
            border-spacing: 0;
            border: 1px solid rgba(0,0,0,.1) !important;
            border-radius: 0 !important;
            margin-bottom: 2.66667rem !important;
            tr {
                td {
                    strong {
                        color: $color_8;
                    }
                }
            }
            tr.order-total {
                td {
                    strong {
                        color: $color-black;
                    }
                }
            }
        }
        .woocommerce-checkout-payment {
            border-radius: 0 !important;
            background-color: $no_color !important;
            border: 1px solid #000000;
            border-color: rgba(0,0,0,.1);
            .wc_payment_methods {
                border-bottom-color: rgba(0,0,0,.1) !important;
                .wc_payment_method.payment_method_paypal {
                    label {
                        display: contents;
                        a {
                            line-height: 1 !important;
                        }
                    }

                }
               > li {
                    list-style: none;
                }
            }
            .place-order {
                margin-bottom: 0;
                button.button{
                    padding: 1.66667rem 3.66667rem !important;
                    border-radius: 0 !important;
                    background-color: #232323 !important;
                    color: #fff !important;
                    text-transform: uppercase;
                    &:hover{
                        background-color: $primary_color !important;

                    }
                }

            }
        }
    }
}
.h-rotatingNeuron {
    -webkit-animation: rotating 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite;
    animation: rotating 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite;
}
.blog-content {
    .woocommerce {
        img {
            &:hover {
                filter: none;
            }
        }
    }
}
.woocommerce-Reviews {
    .commentlist {
        margin-bottom: 5.33333rem !important;
        .review {
            margin-bottom: 2.66667rem !important;
            &:last-child {
                margin-bottom: 0 !important;
            }
            .comment_container {
                img {
                    width: 4.5rem !important;
                    padding: 0 !important;
                    border: 0 !important;
                }
                .comment-text {
                    margin: 0 0 0 6.16667rem !important;
                    border-radius: 0 !important;
                    border: 0 !important;
                    padding: 0 !important;
                    .meta {
                        .woocommerce-review__author {
                            font-weight: 600;
                            color: $color-black;
                            margin-bottom: 2.66667rem;
                            font-size: 1.33333rem;
                            line-height: 1.625;
                        }
                        .woocommerce-review__dash {
                            color: $primary-color;
                        }
                        .woocommerce-review__published-date {
                            color: $color-black;
                            font-size: 1.16667rem;
                        }
                    }
                    .description {
                        >* {
                            &:last-child {
                                margin-bottom: 0 !important;
                            }
                        }
                    }
                }
            }
        }
    }
    .comment-form-comment {
        &:before {
            top: 35px;
        }
    }
}
.woocommerce-page {
    img.footer-img {
        max-width: 150px;
    }
}
@media (max-width: 767px) {
    .woocommerce {
        .cart-collaterals {
            .cart_totals {
                table {
                    td[data-title='Total'] {
                        padding-left: 0 !important;
                        &::before {
                            color: $color-black;
                            font-weight: 600;
                        }
                    }
                    td[data-title='Subtotal'] {
                        padding-left: 0 !important;
                        &::before {
                            color: $color-black;
                            font-weight: 600;
                        }
                    }
                }
            }
        }
        table {
            td.actions {
                border-bottom: 0;
                .coupon {
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -ms-flex-wrap: wrap;
                    flex-wrap: wrap;
                    padding-bottom: 1rem !important;
                    input {
                        -webkit-box-flex: 0;
                        -ms-flex: 0 0 49%;
                        flex: 0 0 49%;
                        max-width: 49%;
                        margin: 0 !important;
                    }
                    button {
                        -webkit-box-flex: 0;
                        -ms-flex: 0 0 49%;
                        flex: 0 0 49%;
                        max-width: 49%;
                        margin: 0 !important;
                        margin-left: auto !important;
                    }
                }
            }
        }
    }
}
@media (min-width: 768px) {
    .woocommerce-account {
        .woocommerce {
            .woocommerce-MyAccount-navigation {
                ul {
                    li {
                        &:last-child {
                            padding-bottom: 0;
                            border-bottom: 0;
                        }
                    }
                }
            }
        }
    }
    .woocommerce-checkout {
        .col2-set {
            .col-1 {
                -webkit-box-flex: 0;
                -ms-flex: 0 0 50%;
                flex: 0 0 50%;
                max-width: 50%;
            }
            .col-2 {
                -webkit-box-flex: 0;
                -ms-flex: 0 0 50%;
                flex: 0 0 50%;
                max-width: 50%;
            }
        }
    }
    .woocommerce {
        table {
            td.product-quantity {
                .quantity {
                    input {
                        margin-left: 0;
                    }
                }
            }
        }
        .woocommerce-tabs {
            margin-bottom: 5.33333rem;
        }
    }
}
@media (min-width: 992px) {
    .woocommerce-account {
        .woocommerce {
            .woocommerce-MyAccount-content {
                padding-left: 5.33333rem;
            }
        }
    }
}
@media (min-width: 576px) {
    .woocommerce {
        .woocommerce-tabs {
            ul.tabs {
                li {
                    a {
                        &:hover {
                            color: $primary-color !important;
                            border-color: $primary-color;
                        }
                    }
                }
                li.active {
                    a {
                        border-color: $primary-color;
                    }
                }
            }
        }
    }
}

/* Product meta */
.woocommerce .summary .product_meta > span{
  display: block;
  margin-bottom: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 40px;
}
.woocommerce .summary .product_meta > span span,.woocommerce .summary .product_meta > span a  {
    font-weight: 400;
}
.woocommerce .comment-form-author:before, .woocommerce .comment-form-email:before{
        top: 37px;

}
.woocommerce nav.woocommerce-pagination ul li{

}
.woocommerce nav.woocommerce-pagination ul li a, .woocommerce nav.woocommerce-pagination ul li span{
    padding: 12px 20px;
    color: $primary-color;
}
.woocommerce nav.woocommerce-pagination ul li a:focus, .woocommerce nav.woocommerce-pagination ul li a:hover, .woocommerce nav.woocommerce-pagination ul li span.current{
    background: #585353;
    color: $color-white;
    font-weight: 600;
}
.woocommerce div.product form.cart .group_table td.woocommerce-grouped-product-list-item__label label a{
    color: $primary-color;
    font-weight: 400;
}
.woocommerce .select2-container--default .select2-selection--single .select2-selection__arrow{
    top: 9px;
    right: 9px;
}
.select2-dropdown{
    border-color:#333;
}
.woocommerce-error::before {
    left: initial;
    right: 1em;
}
.woocommerce-shipping-fields {
    .woocommerce-form__label-for-checkbox {
        font-size: 18px;
        font-weight: 600;
        input[type="checkbox"] {
            width: auto;
            margin: 3px 10px 0 0;
            position: unset !important;
        }
    }
}


