/*---- work process style-1 --*/
.work-process.style-1{
	.item{
		text-align: center;
   	 	padding-left: 15px;
   		 padding-right: 15px;
   	 	&:hover{
   	 		.box-img-tm{
	 			transform: rotateX(180deg);
 			}
   	 		.box-cont h3{
	   	 		opacity: 1;
	   	 		-webkit-animation: toTopFromBottom .3s forwards;
			    -o-animation: toTopFromBottom .3s forwards;
			    animation: toTopFromBottom .3s forwards;
   	 		}
   	 	}
   	 	
   	 	.box-img{
   	 		position: relative;
   	 		transition: transform 0.8s;
   	 		transform-style: preserve-3d;
			.bg-img{
				display: inline-flex;
			    width: 200px;
			    height: 200px;
			    line-height: 200px;
			    margin: 0 auto;
			    border-radius: 50%;
			    justify-content: center;
			    position: relative;
			    z-index: 2;
			    text-align: center;
			    background: $color-black;
			    border: 4px solid $primary-color;
				border-style: solid;
			    border-width: 0;
			    box-shadow: 0px 0px 0px 12px #efe6e6 inset;
			    img{
			    	opacity: 0.5;
			    	border-radius: 50%;
			    	object-fit: cover;
			    }
			}
			.num{
				display: block;
			    position: absolute;
			    top: 50%;
			    left: 15px;
			    right: 15px;
			    z-index: 2;
			    line-height: 1;
			    text-align: center;
			    transform: translateY(-50%);
				font-family: "Teko",Sans-serif;
			    font-size: 70px;
			    font-weight: 700;
			    letter-spacing: 4px;
			    color: rgba(0,0,0,0);
			    -webkit-text-stroke-color: #fff;
			    -webkit-text-stroke-width: 1px;
			}
		}
		.box-cont{
			h3{
			    -webkit-transition: all 0.5s ease-out;
			    -moz-transition: all 0.5s ease-out;
			    -ms-transition: all 0.5s ease-out;
			    -o-transition: all 0.5s ease-out;
			    font-size: 22px;
			    text-transform: capitalize;
			    font-weight: 600;
			    letter-spacing: 1px;
			}
			p{
				font-size: 16px;
				color: #828282;;
			}
		}
		&:nth-child(4) .box-img .bg-img:before{ display:none}
		&:nth-child(5) .box-img .bg-img:after{ display:none}
	}
}
		